
      <section class="mapcontacto">
        <div class="cnt-map">
          <div class="box-map">
            <div class="map" id="google-maplima"></div><a class="btn btn-enlace1 btn-celeste cerrar-map" href="">cerrar mapa</a>
          </div>
        </div>
      </section>
      <section class="tabfull">
        <div class="tabcontacto">
          <div class="contac-form">
            <form action="">
              <div class="titulos titulo--izquierda">
                <h2>Estamos a tus servicios</h2>
                <h3>¡Escríbenos ahora!</h3>
              </div>
              <ul>
                <li>
                  <div class="contac-input">
                    <input class="validate[required]" type="text" name="nombre_apellido" placeholder="Nombres y Apellidos"/>
                  </div>
                  <div class="contac-input">
                    <input class="validate[required] soloNumber" type="text" name="telefono" placeholder="Teléfono"/>
                  </div>
                </li>
                <li>
                  <div class="contac-input">
                    <input class="validate[required]" type="text" name="" placeholder="Email"/>
                  </div>
                  <div class="contac-input">
                    <input class="validate[required]" type="text" name="empresa" placeholder="Empresa"/>
                  </div>
                </li>
                <li>
                  <div class="contac-input contactextarea">
                    <textarea class="validate[required]" name="mensaje" placeholder="Mensaje"></textarea>
                  </div>
                </li>
              </ul>
              <input class="btn btn-enlace12 btn-red" type="submit" value="Enviar"/>
            </form>
          </div>
          <div class="contacto__content-info">
            <h2>Nos gustaría resolver tus dudas. Si deseas más información,déjanos tus datos y nos comunicaremos contigo.</h2>
            <div class="content--info">
              <div class="contacto__info"><i class="icon-phone"></i>
                <h3>9595959		</h3>
              </div>
              <div class="contacto__info"><i class="icon-mesagge"></i>
                <h3>info@safari.com.pe</h3>
              </div>
              <div class="contacto__info"><i class="icon-map"></i>
                <h3>Calle Rodolfot Beltrán 134 Urb. Santa 
                  <p>Catalina, La Victoria - Lima 13 - Perú</p>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contacto-buttom"><a class="abrir-map btn btn-enlace1 btn-celeste" href="">Abrir Mapa</a></section>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.expundefined"></script>
    <script>
      $(function() {
      	$('.contc-info').eq(0).addClass('active');
      	$('.contact-tabs a').click(function(e) {
      		e.preventDefault();
      		$('.contact-tabs a').removeClass('active');
      		$(this).addClass('active');
      		var dataTab = $(this).attr('data-tab');
      		$('.contc-info').removeClass('active');
      		$('.contc-info[id="'+dataTab+'"]').addClass('active');
      	});
      
      	function initMap() {
      		var $map = $( '#google-maplima' );
      		if ( ! $map.length ) return;
      		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
      		var styles = [
      			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
      			{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
      			{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
      			{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
      			{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
      			{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
      			{"featureType": "transit","stylers": [{"visibility": "off"}]},
      			{"featureType": "poi","stylers": [{"visibility": "off"}]}
      		]
      		var mapOptions = {
      			zoom             : 15,
      			center           : myLatlng,
      			mapTypeControl   : true,
      			disableDefaultUI : true,
      			zoomControl      : true,
      			scrollwheel      : false,
      			styles           : styles,
      			draggable        : true
      		}
      		var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
      
      		var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			icon:"../assets/img/marker-icono.png"
      			
      		});
      	}
      	google.maps.event.addDomListener(window, 'load', initMap),
      	$(".abrir-map").click(function(event) {
      		event.preventDefault();
      		$(".box-map").addClass('anima-map');
      	});
      	$(".cnt-map .cerrar-map").click(function(event) {
      		event.preventDefault();
      		$(".box-map").removeClass('anima-map');
      	});
      
      	//- validation
      	$(".contac-form form").validationEngine();
      });
    </script>