
      <div class="crear-cuenta">
        <div class="crear-cuenta__wrapper">
          <div class="crear-cuenta__tittle">
            <div class="titulos titulo--centro">
              <h2>Crear cuenta</h2>
            </div>
          </div>
          <div class="crear-cuenta__cuenta-items">
            <form>
              <div class="cuenta__datos">
                <div class="cuenta__tittles">
                  <h3>Datos Personales</h3>
                </div>
                <div class="cuenta__inputs">
                  <div class="cuenta__inputs__items">
                    <h3>Nombres*</h3>
                    <input class="validate[required]" type="text" name="nombre" placeholder="Luis Felipe"/>
                  </div>
                  <div class="cuenta__inputs__items">
                    <h3>Apellido Paterno*</h3>
                    <input class="validate[required]" type="text" name="apellido_paterno" placeholder="Ortega"/>
                  </div>
                  <div class="cuenta__inputs__items">
                    <h3>Apellidos Materno*</h3>
                    <input class="validate[required]" type="text" name="apellido_materno" placeholder="Perez"/>
                  </div>
                  <div class="cuenta__inputs__items cuenta__inputs__items--select">
                    <h3>Tipo de Documento*</h3>
                    <select>
                      <option value="volvo">DNI</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </div>
                  <div class="cuenta__inputs__items">
                    <h3>Nº de Documento*</h3>
                    <input class="soloNumber validate[required]" type="text" name="telefono" placeholder="42001055"/>
                  </div>
                  <div class="cuenta__inputs__items">
                    <h3>Teléfono*</h3>
                    <input class="soloNumber validate[required]" type="text" name="telefono" placeholder="numero"/>
                  </div>
                </div>
              </div>
              <div class="cuenta__tittles cuenta__tittles-datos">
                <h3>Datos de la cuenta</h3>
              </div>
              <div class="cuenta__inputs cuentas__inputs--contrasenas">
                <div class="cuenta__inputs__items">
                  <h3>Correo electrónico*</h3>
                  <input class="validate[required]" type="email" name="nombre" placeholder="Correo electrónico"/>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Contraseña*</h3>
                  <input class="validate[required]" type="password" name="contraseña" placeholder="Contraseña"/>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Repetir contraseña*</h3>
                  <input class="validate[required]" type="password" name="Repetir_contraseña" placeholder="Repetir contraseña"/>
                </div>
              </div>
              <div class="cuenta__checkbox__edit">
                <div class="login-formulario login__inputs">
                  <input class="form-check-input" type="checkbox" id="input_datos"/>
                  <label class="form-check-label" for="input_datos">He leído los Términos y Condiciones para el uso del sitio Web	</label>
                </div>
                <div class="cuenta__inputs__items--botton">
                  <input class="btn btn-enlace1 btn-plomo rounded-0" type="submit" value="CREAR CUENTA"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    <script>
      $(()=>{
      	// validation
      	$(".crear-cuenta__cuenta-items form").validationEngine();
      })
    </script>