
      <div class="titulo-cuenta">
        <div class="titulos">
          <h2>Mi cuenta</h2>
        </div>
      </div>
      <div class="cuenta-wrap">
        <ul class="cuenta-menu"><a href="">
            <li class="cuenta__item"> Mis Datos</li></a><a href="">
            <li class="cuenta__item">Cotización</li></a></ul>
        <div class="mi-cuenta__content">
          <form>
            <div class="cuenta__datos">
              <div class="cuenta__tittles">
                <h3>Datos Personales</h3><a class="tittle-refresh" id="updateDate" href="">Actualizar Datos</a>
              </div>
              <div class="cuenta__inputs">
                <div class="cuenta__inputs__items">
                  <h3>Nombres*</h3>
                  <input class="cuenta__inputs--event" type="text" name="nombre" placeholder="Luis Felipe" disabled="disabled"/>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Apellido Paterno*</h3>
                  <input class="cuenta__inputs--event" type="text" name="apellido_paterno" placeholder="Ortega" disabled="disabled"/>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Apellidos Materno*</h3>
                  <input class="cuenta__inputs--event" type="text" name="apellido_materno" placeholder="Perez" disabled="disabled"/>
                </div>
                <div class="cuenta__inputs__items cuenta__inputs__items--select">
                  <h3>Tipo de Documento*</h3>
                  <select class="cuenta__inputs--event" disabled="">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Nº de Documento*</h3>
                  <input class="cuenta__inputs--event" type="text" name="telefono" placeholder="42001055" disabled="disabled"/>
                </div>
                <div class="cuenta__inputs__items">
                  <h3>Teléfono*</h3>
                  <input class="cuenta__inputs--event" type="text" name="telefono" placeholder="numero" disabled="disabled"/>
                </div>
              </div>
            </div>
            <div class="cuenta__datos cuenta__datos--contrasena"></div>
            <div class="cuenta__tittles cuenta__tittles-datos">
              <h3>Contraseña</h3>
            </div>
            <div class="cuenta__inputs cuentas__inputs--contrasenas">
              <div class="cuenta__inputs__items">
                <h3>Nombres*</h3>
                <input class="cuenta__inputs--event" type="text" name="nombre" placeholder="Luis Felipe" disabled="disabled"/>
              </div>
              <div class="cuenta__inputs__items">
                <h3>Apellido Paterno*</h3>
                <input class="cuenta__inputs--event" type="text" name="apellido_paterno" placeholder="Ortega" disabled="disabled"/>
              </div>
              <div class="cuenta__inputs__items">
                <h3>Apellidos Materno*</h3>
                <input class="cuenta__inputs--event" type="text" name="apellido_materno" placeholder="Perez" disabled="disabled"/>
              </div>
            </div>
          </form>
          <div class="cuenta__inputs__items--botton">
            <button class="btn btn-enlace1 btn-plomo rounded-0" href="">Guardar Cambios</button>
          </div>
        </div>
        <div class="mi-cuenta__content">
          <div class="mi-cuenta__content"></div>
          <form>
            <div class="cuenta__datos">
              <div class="cuenta__tittles">
                <h3>Mis cotizaciones</h3>
              </div>
              <div class="cuenta__inputs">
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
                <div class="cuenta__inputs__items">
                  <div class="cuenta__box">
                    <div class="cuenta__titles">
                      <h3>Nº cotización: 001</h3>
                      <h3>04 de Octubre del 2015,   14:37</h3><a href="#">
                        <div class="cuenta__descargas"><i class="icon-icono-01 cuenta__icono"> </i>
                          <h2>Ver listado</h2>
                        </div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    <script>
      $(()=>{
      	$('.cuenta-menu a').click(function(e){
      		e.preventDefault()
      		if(!$(this).find('li').hasClass('cuenta__item--activo')){
      			$('.cuenta__item--activo').removeClass("cuenta__item--activo")
      			$(this).find('li').addClass("cuenta__item--activo")
      			$('.mi-cuenta__content').slideUp()
      			$('.mi-cuenta__content').eq($(this).index()).slideDown()
      		}
      	})
      	$('.cuenta-menu a').eq(0).trigger('click')
      	//formularios
      	$('#updateDate').click((e)=>{
      		e.preventDefault()
      		$('.cuenta__inputs--event').each((k,ele)=>{
      			$(ele)[0].disabled = false
      		})
      	})
      })
    </script>