
      <section class="product__detail__wrap">
        <div class="product__detail__container">
          <div class="product__detail__miga__container">
            <div class="general__miga">
              <ul>
                <li><a href="">Autopartes</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a class="general__miga--active" href="">Timones</a></li>
              </ul>
            </div>
          </div>
          <div class="product__detail__inside__container">
            <div class="product__detail__left">
              <div class="tab__carrousel">
                <div class="tab__carrousel__left">
                  <div class="tab__carrousel__wrap tab__carrousel--js tab__carrousel--vertical">
                    <div class="tab__carrousel__image__big__wrap">
                      <div class="tab__carrousel__arrow__personalized_wrap"><span class="tab__carrousel__arrow__personalized_prev"> </span><span class="tab__carrousel__arrow__personalized_next"> </span></div>
                      <div class="tab__carrousel__image__big__inside">
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab1"><img src="assets/img/item-img1.jpg" alt=""/></div>
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab2"><img src="assets/img/item-img2.jpg" alt=""/></div>
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab3"><img src="assets/img/item-img3.jpg" alt=""/></div>
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab4"><img src="assets/img/item-img4.jpg" alt=""/></div>
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab5"><img src="assets/img/item-img5.jpg" alt=""/></div>
                        <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab6"><img src="assets/img/item-img6.jpg" alt=""/></div>
                      </div>
                    </div>
                    <div class="tab__carrousel__items__wrap tab__carrousel__items--js">
                      <ul class="tab__carrousel__list__items tab__carrousel__items--pitcher">
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab1">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img1.jpg" alt=""/></div>
                        </li>
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab2">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img2.jpg" alt=""/></div>
                        </li>
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab3">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img3.jpg" alt=""/></div>
                        </li>
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab4">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img4.jpg" alt=""/></div>
                        </li>
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab5">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img5.jpg" alt=""/></div>
                        </li>
                        <li class="tab__carrousel__items__item tab__carrousel__items__item--js btn-hider" data-id="product-Tab6">
                          <div class="tab__carrousel__items__item-img"><img src="assets/img/item-img6.jpg" alt=""/></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product__detail__right">
              <div class="product__detail__right__content">
                <div class="product__detail__right__top">
                  <div class="product__detail__right__brand"><span>SPARCO</span></div>
                  <div class="product__detail__right__title">
                    <h3>Timon marca SPARCO modelo LAP 5 ALC color Negro</h3>
                  </div>
                  <div class="product__detail__right__code">
                    <h4>SKU 123453</h4>
                  </div>
                  <div class="prodcut__detail__right__info">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestias, voluptatem deserunt hic et inventore.</p>
                  </div>
                  <div class="product__detail__right__cotizar">
                    <div class="product__detail__right__select">
                      <div class="input-group"><span class="select--mas input-group-addon">+</span>
                        <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                      </div>
                    </div>
                    <div class="product__detail__right__button"><a class="btn btn-enlace1 btn-celeste rounded-0" data-toggle="modal" data-target="#exampleModal1">cotizar producto</a>
                      <!-- Modal Cotizar Producto-->
                      <div class="modal fade carrito__modal" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog carrito__modal__content" role="document">
                          <div class="modal-content">
                            <div class="modal-header carrito__modal__close">
                              <button class="modal__close close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <div class="carrito">
                                <div class="titulos">
                                  <h2>Carrito de Cotizaciones</h2>
                                </div>
                                <div class="carrito_content">
                                  <div class="carrito_cotizacion--title">
                                    <div class="carrito_title--producto">
                                      <p>Producto</p>
                                    </div>
                                    <div class="carrito_title--cantidad">
                                      <p>Cantidad</p>
                                    </div>
                                  </div>
                                  <div class="carrito_cotizacion">
                                    <div class="carrito_productos">
                                      <div class="carrito_productos--img">
                                        <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
                                      </div>
                                      <div class="carrito_productos--text">
                                        <p>Timon marca SPARCO modelo</p>
                                        <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
                                      </div>
                                    </div>
                                    <div class="carrito_cantidad">
                                      <div class="carrito_cantidad--input">
                                        <div class="input-group"><span class="select--mas input-group-addon">+</span>
                                          <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                                        </div>
                                      </div>
                                      <div class="carrito_cantidad--icon">
                                        <div class="icon-remove"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="carrito_cotizacion">
                                    <div class="carrito_productos">
                                      <div class="carrito_productos--img">
                                        <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
                                      </div>
                                      <div class="carrito_productos--text">
                                        <p>Timon marca SPARCO modelo</p>
                                        <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
                                      </div>
                                    </div>
                                    <div class="carrito_cantidad">
                                      <div class="carrito_cantidad--input">
                                        <div class="input-group"><span class="select--mas input-group-addon">+</span>
                                          <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                                        </div>
                                      </div>
                                      <div class="carrito_cantidad--icon">
                                        <div class="icon-remove"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="carrito_button"><a class="btn btn-enlace1 btn-celeste rounded-0" href="">Continuar Cotización</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product__detail__compartir"><a class="btn__detail__compartir" href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.ingresaup.pe/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">COMPARTE EL PRODUCTO</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product__detail__ficha__wrap">
        <div class="product__detail__ficha__container">
          <div class="product__detail__ficha__title">
            <h3>Ficha tecnica</h3>
          </div>
          <ul class="product__detail__list">
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
            <li class="product__detail__list__item">
              <div class="product__detail__list__item__title">Tamaño</div>
              <div class="product__detail__list__item__desc">25cm x25cm</div>
            </li>
          </ul>
        </div>
      </section>
      <section class="slider__carrousel__item__slider__detail">
        <div class="slider__carrousel__item__container">
          <div class="slider__carrousel__item__title__wrap">
            <div class="tab__carrousel__item__arrow__personalized_wrap"><span class="tab__carrousel__item__arrow__personalized_prev icon-next"></span>
              <div class="slider__carrousel__item__title">
                <h3>También te puede interesar</h3>
              </div><span class="tab__carrousel__item__arrow__personalized_next icon-next"></span>
            </div>
          </div>
          <div class="slider__carrousel__item__slide">
            <ul class="slider__carrousel__list__items slider__carrousel__item--js">
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div class="equipo--fancy">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <section class="equipo__fancy">
                  <div class="equipo">
                    <div class="equipo__wrap">
                      <div class="equipo__item">
                        <div class="equipo__title">
                          <div class="titulos titulo--izquierda">
                            <h2>Se parte de nuestro equipo</h2>
                            <h3>¡escríbenos ahora!</h3>
                          </div>
                        </div>
                        <div class="equipo__form">
                          <form>
                            <div class="equipo__form equipo__formularios">
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="validate[required]" type="text" placeholder="Nombres y apellidos*"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="soloNumber validate[required]" type="text" placeholder="teléfono"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="validate[required]" type="text" placeholder="Email*"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input__file general__input__file--js">
                                  <div class="general__input__inside">
                                    <input id="file-input" type="file"/>
                                    <label class="general__input__file__label" for="file-input"><span class="general__input__file__text">Adjuntar cv:</span><span class="general__input__file__ico icon-adjuntar"></span></label>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input--textarea">
                                <div class="general__input general__input--textarea">
                                  <div class="general__input__inside">
                                    <textarea class="validate[required]" id="mensaje" placeholder="Mensaje"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input equipo__input--boton">
                                <input class="btn btn-enlace12 btn-red" type="submit" value="ENVIAR"/>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="../assets/js/validation/jquery.validationEngine-es.js"></script>
    <script src="../assets/js/validation/jquery.validationEngine.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="assets/js/slick/slick.js"></script>
    <script>
      function linkToParent(i){
      	$(i).each(function(index, el) {
      		$(el).css('cursor', 'pointer').click(function(e) {
      			$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
      		});
      	});
      }
      $(function(){
      	// Tab carrousel
      	$('.tab__carrousel__items__item--js:first-child').addClass('active');
      	$('.tab__carrousel__image__big--js:first-child').addClass('active');
      	
      	var itemSl = $('.tab__carrousel__items__item--js').length;
      	if (itemSl > 5) {
      		$('.tab__carrousel--js').addClass('tab__carrousel--active');
      		$('.tab__carrousel__items--pitcher').slick({
      			autoplay: false,
      			autoplaySpeed: 5000,
      			arrows: true,
      			infinite: true,
      			speed: 300,
      			slidesToShow: 5,
      			slidesToScroll: 1,
      			prevArrow:'.tab__carrousel__arrow__personalized_prev',
      			nextArrow:'.tab__carrousel__arrow__personalized_next',
      			vertical: true,
      			verticalSwiping: true,
      			responsive: [
      				{
      					breakpoint: 960,
      					settings: {
      						vertical:false,
      						slidesToShow: 4
      					}
      				}
      			]
      		});
      	};
      
      	//Carrousel tab slider arrows
      	$('.tab__carrousel__items--pitcher').on('beforeChange', function(event, slick, currentSlide, nextSlide){
      		console.log(nextSlide);
      		setTimeout(function(){
      			id = $('.tab__carrousel__items__item--js.slick-current').attr('data-id');				
      			$('.tab__carrousel__items__item--js').removeClass('active');
      			$('.tab__carrousel__items__item--js.slick-current').addClass('active');
      			$('.tab__carrousel__image__big--js').removeClass('active');
      			$('.tab__carrousel__image__big--js[id="'+id+'"]').addClass('active');				
      		},500);
      	});		
      
      	// Carrousel tab items
      	$('.tab__carrousel--js .tab__carrousel__items--js .tab__carrousel__items__item--js').click(function(event){
      		event.preventDefault();
      		var buscaidtab = $(this).attr('data-id');
      		$(this).closest('.tab__carrousel--js').find('.tab__carrousel__items--js li').removeClass('active');			
      		$(this).addClass('active');
      		$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js').removeClass('active');
      		$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js[id="'+buscaidtab+'"]').addClass('active');
      	});
      
      	//- input mas menos
      	$('.soloNumber').each((k, el)=>{
      			$(el).on('keydown', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
      	})
      	$('.select--mas').click((e)=>{
      		e.preventDefault()
      		let currentValue = $(e.target).parent().find('input').val()
      		if(!currentValue){
      			$(e.target).parent().find('input').val(1)
      			return true
      		}
      		$(e.target).parent().find('input').val(parseInt(currentValue)+ 1)
      	})
      	$('.select--menos').click((e)=>{
      		e.preventDefault()
      		let currentValue = $(e.target).parent().find('input').val()
      		if(!currentValue){
      			$(e.target).parent().find('input').val(1)
      			return true
      		}
      		if(currentValue > 1){
      			$(e.target).parent().find('input').val(parseInt(currentValue)- 1)
      		}
      	})
      
      
      
      	//- slick slider item product
      	$('.slider__carrousel__item--js').slick({
      		slidesToShow: 5,
      		slidesToScroll: 1,
      		infinite: true,
      		autoplay: true,
      		prevArrow:'.tab__carrousel__item__arrow__personalized_prev',
      		nextArrow:'.tab__carrousel__item__arrow__personalized_next',
      		dots: false,
      		responsive: [
      			{
      				breakpoint: 2000,
      				settings: {
      					slidesToShow: 4,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 1700,
      				settings: {
      					slidesToShow: 4,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 1200,
      				settings: {
      					slidesToShow: 3,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 1024,
      				settings: {
      					slidesToShow: 3,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 768,
      				settings: {
      					slidesToShow: 2,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 480,
      				settings: {
      					slidesToShow: 1,
      					slidesToScroll: 1
      				}
      			}
      		]
      	});
      
      	linkToParent('.item__general');
      	
      });
    </script>