
      <div class="mensaje">
        <div class="mensaje__error">
          <div class="mensaje-imagen"><img class="mensaje_imagen" src="assets/img/error-img.png" width="106" height="106" alt=""/></div>
          <div class="mensaje-texto">
            <h2>Error 404 </h2>
            <h2>página no encontrada</h2>
            <p>Parece que ha habído un error con la página que estabas buscando. Es posible que en la entrada haya sido eliminado o que la dirección no exista.</p>
            <div class="mensaje-texto--btn"><a class="btn btn-enlace1 btn-celeste rounded-0" href="home.html">regresar a la página principal </a></div>
          </div>
        </div>
      </div>
