
      <div class="listado__content_grnal">
        <div class="listado__wrapp">
          <div class="listado__menu">
            <div class="listado__filtro">
              <h2>FILTROS SELECCIONADOS</h2>
              <ul class="filtros__seleccion">
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">Eagleye<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>AUTOPARTES</h2></a>
                <li class="listado__categoria__name listado__categoria__name--tittle">Accesorios
                  <ul>
                    <li class="listado__categoria_item"><a href="asda">Accesorios electricos</a></li>
                    <li class="listado__categoria_item"><a href="asda">Accesorios externos</a></li>
                    <li class="listado__categoria_item"><a href="asda">Accesorios internos</a></li>
                    <li class="listado__categoria_item"><a href="asda">Asistencia vehicular</a></li>
                    <li class="listado__categoria_item"> <a href="asda">Espejos</a></li>
                    <li class="listado__categoria_item"> <a href="asda">Focos</a></li>
                    <li class="listado__categoria_item listado__categoria__item--maximo"><a href="asda">Ver más</a></li>
                  </ul>
                </li>
                <li class="listado__categoria__name listado__categoria__name--color">
                  <ul class="listado__categoria__name listado__categoria__name--tittle">Equipamiento
                    <li class="listado__categoria_item"><a href="asda">Equipamiento</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>TIPOS</h2></a>
                <li class="listado__categoria_item"><a href="">A</a></li>
                <li class="listado__categoria_item"><a href="">B</a></li>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>MARCAS</h2></a>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos1"/>
                  <label class="form-check-label" for="check-productos1">Wimbo</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos2"/>
                  <label class="form-check-label" for="check-productos2">DLAA</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos3"/>
                  <label class="form-check-label" for="check-productos3">Safari</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos4"/>
                  <label class="form-check-label" for="check-productos4">Etizo</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos5"/>
                  <label class="form-check-label" for="check-productos5">Eagleye</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="listado__cuerpo">
            <div class="listado__cuerpo__banner" style="background-image: url(assets/img/banner_listado.png);">
              <div class="listado__cuerpo__banner--title">
                <h2>ACCESORIOS</h2>
              </div>
            </div>
            <div class="listado__nav__cuerpo">
              <ul class="listado__nav__content">
                <li class="listado__nav__tittle">ORDENAR POR:</li>
                <li class="listado__nav__sub"> <a href="">Más relevante</a></li>
                <li class="listado__nav__sub"> <a href="">Novedades</a></li>
              </ul>
            </div>
            <div class="listado__cuerpo__items">
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
            </div>
            <div class="listado__ver">
              <ul class="listado__opcion__productos">
                <li><a href=""><i class="listado__opcion"></i></a></li>
                <li><a href=""><i class="listado__opcion"></i></a></li>
                <li><a href=""><i class="listado__opcion"></i></a></li>
              </ul>
              <div class="listado__text">
                <h3>VER MÁS PRODUCTOS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="equipo--fancy">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <section class="equipo__fancy">
                  <div class="equipo">
                    <div class="equipo__wrap">
                      <div class="equipo__item">
                        <div class="equipo__title">
                          <div class="titulos titulo--izquierda">
                            <h2>Se parte de nuestro equipo</h2>
                            <h3>¡escríbenos ahora!</h3>
                          </div>
                        </div>
                        <div class="equipo__form">
                          <form>
                            <div class="equipo__form equipo__formularios">
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="validate[required]" type="text" placeholder="Nombres y apellidos*"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="soloNumber validate[required]" type="text" placeholder="teléfono"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input">
                                  <div class="general__input__inside">
                                    <input class="validate[required]" type="text" placeholder="Email*"/>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input">
                                <div class="general__input__file general__input__file--js">
                                  <div class="general__input__inside">
                                    <input id="file-input" type="file"/>
                                    <label class="general__input__file__label" for="file-input"><span class="general__input__file__text">Adjuntar cv:</span><span class="general__input__file__ico icon-adjuntar"></span></label>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input--textarea">
                                <div class="general__input general__input--textarea">
                                  <div class="general__input__inside">
                                    <textarea class="validate[required]" id="mensaje" placeholder="Mensaje"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="equipo__input equipo__input--boton">
                                <input class="btn btn-enlace12 btn-red" type="submit" value="ENVIAR"/>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="../assets/js/validation/jquery.validationEngine-es.js"></script>
    <script src="../assets/js/validation/jquery.validationEngine.js"></script>