
      <div class="login">
        <div class="login__wrap">
          <div class="login__cuenta">
            <div class="login-formulario">
              <div class="login__title">
                <h2>Mi Cuenta </h2>
              </div>
              <div class="login__form">
                <form>
                  <div class="login-formulario login__inputs">
                    <label for="contra">Dirección de correo electrónico*</label>
                    <div class="general__input">
                      <div class="general__input__inside"></div>
                      <input class="validate[required]" type="text"/>
                    </div>
                  </div>
                  <div class="login-formulario login__inputs">
                    <label for="contra">Contraseña*</label>
                    <div class="general__input">
                      <div class="general__input__inside"></div>
                      <input class="validate[required]" type="password"/>
                    </div>
                  </div>
                  <div class="login-formulario login__inputs">
                    <input class="form-check-input" type="checkbox" id="input_datos"/>
                    <label class="form-check-label" for="input_datos">Guardar mis datos</label>
                    <div class="login-formulario login__inputs login--botton">
                      <input class="btn btn-enlace1 btn-plomo rounded-0" type="submit" value="INGRESAR"/>
                      <h3>¿Haz olvidado tu contraseña?</h3>
                    </div>
                    <div class="login-formulario__buttons login--facebook"><a class="btn btn-enlace1 btn-celeste rounded-0" href="">Iniciar sesión con facebook<i class="icon-facebook"></i></a></div>
                    <div class="login-formulario__buttons login--google"><a class="btn btn-enlace1 btn-celeste rounded-0" href="">Iniciar sesión con gmail<i class="icon-icono-google"></i></a></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="login-formulario login--registro">
              <div class="login__title">
                <h2>Registrarse</h2>
              </div>
              <div class="login__descip">
                <p>Crear una cuenta es fácil. Introduce tu dirección de correo electrónico, diligencia el formulario de la página siguiente y disfruta de los beneficios de tener una cuenta.</p>
                <p>Beneficios de crear una cuenta</p>
              </div>
              <div class="login__acuerdo">
                <ul>
                  <li>Finalizar tus pedidos más rápido</li>
                  <li>Consultar tu historial de pedido</li>
                  <li>Añadir o modificar tus preferencias de correo electrónico	</li>
                </ul>
                <div class="login--crear"><a class="btn btn-enlace1 btn-plomo rounded-0" href="">CREAR CUENTA</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script>
      $(()=>{
      	$(".login__form form").validationEngine();
      })
    </script>