
      <div class="marcas">
        <div class="marcas_title">
          <h3>Marcas</h3>
        </div>
        <div class="marcas_banner">
          <div class="marcas_banner--img" style="background-image: url('/assets/img/banner_accesorios.png');">
            <div class="marcas_banner--title">
              <h4>Accesorios Eléctricos</h4>
            </div>
          </div>
        </div>
        <div class="marcas_content">
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="marcas_content--img"><a href="#"><img class="marcas_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
        </div>
      </div>