
      <div class="terminos">
        <div class="titulos titulo--centro">
          <h2>Terminos y Condiciones</h2>
          <h3>todo lo que deseas saber de nuestros productos</h3>
        </div>
        <div class="terminos_content">
          <div class="terminos-content--text">
            <div class="content--text">
              <div class="termino--titulo">
                <h4>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</h4>
              </div>
              <div class="termino--item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</p>
              </div>
            </div>
            <div class="content--text"> 
              <div class="termino--titulo">
                <h4>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</h4>
              </div>
              <div class="termino--item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</p>
              </div>
            </div>
            <div class="content--text"> 
              <div class="termino--titulo">
                <h4>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</h4>
              </div>
              <div class="termino--item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp</p>
              </div>
            </div>
          </div>
        </div>
      </div>
