
      <div class="tiendas">
        <div class="titulos titulo--centro">
          <h2>Encuentra más de 30</h2>
          <h3>tiendas a tu servicio</h3>
        </div>
        <div class="tiendas_content">
          <div class="tiendas_tabs--button">
            <button onclick="openTab('tiendas_tab1')">Tiendas Principales</button>
            <button onclick="openTab('tiendas_tab2')">Nuestros Socios</button>
          </div>
          <div class="tiendas--tabs" id="tiendas_tab1">
            <div class="tiendas_tab1">
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_tiendas.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_tiendas.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_tiendas.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_tiendas.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_tiendas.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tiendas--tabs" id="tiendas_tab2">
            <div class="tiendas_tab1">
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
              <div class="tiendas_tab1--content">
                <div class="tiendas_tab1--img">
                  <div class="tiendas_tab1--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
                </div>
                <div class="tiendas_tab1--info">
                  <div class="tiendas_tab1--text">
                    <div class="text--title"><span class="icon-map"></span>
                      <h5>Aviación</h5>
                    </div>
                    <p>Dirección: Av. Aviación 1070. La victoria. Lima. Lima</p>
                    <p>Teléfono: (511) 324-3363 / 324-3077</p>
                    <p>E-Mail: aviacion@safari.com.pe</p>
                    <div class="text--button"><a class="btn btn-enlace12 btn-red map__general--open--map" href="">Ver en mapa</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="map__general__wrap">
            <div class="map__general__container">
              <div class="map__general__container__box">
                <div class="map__general__box">
                  <div class="map" id="google-maplima"></div><a class="map__general--close--map btn btn-enlace1 btn-celeste" href="">cerrar mapa</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.expundefined"></script>
    <script>
      $(function(){
      	function initMap() {
      		var $map = $( '#google-maplima' );
      		if ( ! $map.length ) return;
      		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18);// <- Your latitude and longitude
      			var styles = [
      			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
      				{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
      				{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
      				{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
      				{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
      				{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
      				{"featureType": "transit","stylers": [{"visibility": "off"}]},
      				{"featureType": "poi","stylers": [{"visibility": "off"}]}
      				]
      
      	var mapOptions = {
      		zoom             : 15,
      		center           : myLatlng,
      		mapTypeControl   : true,
      		disableDefaultUI : true,
      		zoomControl      : true,
      		scrollwheel      : false,
      		styles           : styles,
      		draggable        : true
      	}
      	var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
      
      	var marker = new google.maps.Marker({
      		position: myLatlng,
      		map: map,
      		icon:"assets/img/marker-icono.png"
      	});
      }
      google.maps.event.addDomListener(window, 'load', initMap),
      	$(".map__general--open--map").click(function(event) {
      		event.preventDefault();
      		$(".map__general__box").addClass('anima-map');
      	});
      	$(".map__general--close--map").click(function(event) {
      		event.preventDefault();
      		$(".map__general__box").removeClass('anima-map');
      	});
      });
      function openTab(tiendas_tab1) {
      	var i;
      	var x = document.getElementsByClassName("tiendas--tabs");
      	for (i = 0; i < x.length; i++) {
      		x[i].style.display = "none";  
      	}
      	document.getElementById(tiendas_tab1).style.display = "block";  
      }
    </script>