.footer__wrap
	max-width: 1190px
	margin: auto
	display: flex
	width: 100%
	padding-top: 40px
.footer__imagen
	width: 15%
	img
		max-width: 100%
		height: auto
		display: block 
.footer_content
	background-color: #272722
.footer_menu
	width: 65%
	li a
		color: #666666
		font-size: 13px 
		transition: all .2s linear
		&:hover 
			color: $blanco

.footer_menu
	display: flex

.footer__iconos
	color: #666666
	display: flex
	width: 10%

.footer__item-icono
	a
		color: #666666
		transition: all .2s linear
		&:hover
			color: $blanco

.footer__menu-creditos
	color: #666666
	display: flex
	width: 100%
	border-top: 1px solid #666666

.footer__menu--items
	width: 100%
	font-size: 12px
	margin-top: 20px
	&:last-child
		text-align: right

.footer__menu--items
	a
		color: #666666
		transition: all .2s linear

.footer__menu--items
	a:hover
		color: $blanco

.footer_creditos
	width: 100%
.footer_creditos
	padding-top: 23px
	padding-bottom: 30px
@media screen and (max-width: 960px)
	.footer__wrap
		flex-direction: column
	.footer__imagen
		width: 100%
		text-align: center
	.footer_menu
		width: 100%
		padding-top: 30px
	.footer__iconos
		width: 20%
		margin-top: 30px
@media screen and (max-width: 768px)
	.footer_items
		display: none
	.footer__imagen
		display: none
	.footer__menu-creditos
		flex-direction: column
		text-align center
	.footer__iconos
		margin-top: 0
	.footer__menu--items
		text-align: center
		&:last-child
			text-align: center
@media screen and (max-width: 480px)
	.footer__iconos
		display: none
	.footer__wrap
		padding-top: 0