.page__home
	// +++ header estado normal - bodyclass +++
	.header
		padding-top: 0
		.header__main
			background: transparent
			box-shadow: 0px 1px 5px 0px rgba(0,0,0, 0)			
		.header__logo__white
			position: relative
			z-index: 1
			opacity: 1
			visibility: visible
		.header__logo__colors
			position: absolute
			z-index: -1
			opacity: 0
			visibility: hidden
		.header__menu__item
			&.active
				.header__menu__link__text
					color: $blanco
			@media screen and (min-width: 1025px)
				&:hover
					.header__menu__link__text
						color: $blanco
		.header__menu__link__text
			color: $blanco
		.header__menu__link__text:after
			background: $blanco
		.header__search__open
			color: $blanco
		.header__account
			border-left: 1px solid rgba(255,255,255, .2)
			border-right: 1px solid rgba(255,255,255, .2) 
		.header__account__icon,
		.header__account__text
			color: $blanco
		.header__bag__icon,
		.header__bag__text
			color: $blanco
	// --- end ---

	// +++ styles header scroll - bodyclass +++
	.header.header--scroll, .header.header__menu--hover
		.header__main
			background: $blanco
			box-shadow: 0px 1px 5px 0px rgba(0,0,0, .2)
			transition: all .25s ease-in-out
		.header__logo__white
			position: absolute
			opacity: 0
			visibility: hidden
		.header__logo__colors
			position: relative
			opacity: 1
			visibility: visible
		.header__menu__item
			@media screen and (min-width: 1025px)
				.header__menu__link__text
					color: $c-5
				.header__menu__link__text:after
					background: $c-5
		.header__menu__link__text
			color: $c-1
		.header__search__open
			color: $c-1
		.header__account
			border-left: 1px solid rgba(102,102,102, .2)
			border-right: 1px solid rgba(102,102,102, .2) 
		.header__account__icon,
		.header__account__text
			color: $c-1
		.header__bag__icon,
		.header__bag__text
			color: $c-1
	// --- end ---		

// +++ base +++
.header--overflowhidden
	overflow: hidden
.header.header__menu--hover
	.header__overlay
		opacity: .7
		visibility: visible
		z-index: 130
.header
	padding-top: 78px
	.header__overlay
		display: block
		width: 100%
		height: calc(100% - 78px)
		background: $negro
		position: fixed
		left: 0
		bottom: 0
		z-index: -1
		opacity: 0
		visibility: hidden		
		transition: height .2s ease
	.header__main
		width: 100%
		background: $blanco
		position: fixed
		top: 0
		left: 0
		z-index: 140
		box-shadow: 0px 1px 5px 0px rgba(0,0,0, .2)
	.header__content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		width: calc(100% - 180px)
		margin: auto
	.header__content__left
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
	.header__content__right
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
	.header__logo
		display: flex
		align-items: center
		width: 100px
		position: relative
		margin: 0
		img
			display: block		
			width: 100%
			height: auto
	.header__logo__white, .header__logo__colors
		width: 100%
		top: 0
		left: 0
	.header__logo__white
		position: absolute
		opacity: 0
		visibility: hidden
	.header__logo__colors
		position: relative
		opacity: 1
		visibility: visible
	.header__menu
		margin: 0
		margin-left: 45px
	.header__menu__content
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
	.header__menu__item
		padding: 0 13px
		margin: 0		
		&:first-child
			padding-left: 0
		&.active
			.header__menu__link__text
				color: $c-5			
		@media screen and (min-width: 1025px)
			&:hover
				.header__menu__link__text
					color: $c-5
					transition: all .2s ease
				.header__menu__link__text:after
					opacity: 1
					visibility: visible
					transition: all .2s ease					
				.header__submenu
					opacity: 1
					visibility: visible
					z-index: 140								
	.header__menu__link
		display: block		
		margin: 0
	.header__menu__link__text
		display: block
		height: 78px
		line-height: 1
		color: $c-1
		font-family: $t-0
		font-size: 13px
		position: relative
		box-sizing: border-box
		padding: 0 10px
		padding-top: 30px
		margin: 0		
		&:after
			content: ""
			display: block		
			width: 100%
			height: 2px
			background: $c-5
			position: absolute
			left: 0
			bottom: -2px
			z-index: 145
			opacity: 0
			visibility: hidden
	.header__submenu
		width: 100%
		background: #f2f2f2
		position: absolute
		top: 78px
		left: 0
		opacity: 0
		visibility: hidden
		z-index: -1
		padding-top: 35px
		padding-bottom: 90px
	.header__submenu__content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		width: calc(100% - 180px)
		transition: none
		box-sizing: border-box
		padding-left: 145px
		padding-right: 145px
		margin: auto
	.header__submenu__content--width
		.header__submenu__itembox
			width: 47%
	.header__submenu__title
		margin-bottom: 35px
	.header__submenu__title__text
		display: block	
		color: $c-1
		font-family: $t-3
		font-weight: normal
		font-size: 13px
		border-bottom: 1px solid $c-1
		position: relative
		padding-top: 10px
		padding-left: 10px
		padding-right: 40px
		padding-bottom: 10px
		margin-bottom: 0
		&:after
			content: "\e90b"
			display: inline-block				
			color: $c-1
			font-size: 10px
			font-family: $icomoon
			position: absolute
			top: 50%
			right: 15px
			margin-top: -5px
	.menu__submenu__title__icono
		display: none
	.header__submenu__links
		column-count: 3
		column-gap: 0px
		margin: 0
	.header__submenu__item
		margin: 0
		margin-bottom: 25px
		&.active
			.header__submenu__link__text
				color: $c-5
		@media screen and (min-width: 1025px)
			&:hover
				.header__submenu__link__text
					color: $c-5
	.header__submenu__link
		display: block
		line-height: 1
		margin: 0
	.header__submenu__link__text
		display: block
		line-height: 1
		color: $c-1
		font-family: $t-2
		font-size: 13px
		transition: all .2s ease
		padding-left: 10px
		padding-right: 25px
		margin: 0
	.header__search
		display: block	
		position: relative
	.header__search__open
		display: block		
		line-height: 1	
		color: $c-1
		font-size: 23px
		cursor: pointer
		top: 0
		left: 0
	.header__search__open
		position: relative
		opacity: 1
		visibility: visible
		z-index: 1
	.header__search__close
		font-size: 15px
		position: absolute
		opacity: 0
		visibility: hidden
		z-index: -1
	.header__account
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		border-left: 1px solid rgba(102,102,102, .2)
		border-right: 1px solid rgba(102,102,102, .2) 
		padding: 2px 30px
		margin: 0 35px
	.header__account__icon
		display: block
		line-height: 1			
		color: $c-1
		font-size: 23px
		margin-right: 15px
	.header__account__text
		display: block
		line-height: 1
		color: $c-1
		font-family: $t-0
		font-size: 13px
	.header__bag
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	.header__bag__icon
		display: block
		margin-right: 15px
		line-height: 1
		color: $c-1
		font-size: 20px
	.header__bag__text
		display: block
		line-height: 1
		color: $c-1
		font-size: 13px

@media screen and (max-width: 1460px)
	.header
		.header__menu
			margin-left: 30px
		.header__menu__item
			padding: 0 5px
		.header__menu__link__text
			font-size: 12px
			padding-left: 5px
			padding-right: 5px
		.header__submenu__content
			padding-left: 130px
			padding-right: 130px
		.header__submenu__content--width
			.header__submenu__itembox
				width: 49%			
		.header__submenu__title__text
			padding-left: 5px
		.header__submenu__link__text
			font-size: 12px
			padding-left: 5px
			padding-right: 15px
		.header__search__open
			font-size: 20px
		.header__account
			padding-left: 15px
			padding-right: 15px
			margin: 0 15px
		.header__account__icon
			font-size: 20px
		.header__account__text
			font-size: 12px

@media screen and (max-width: 1200px)
	.page__home
		.header
			padding-top: 70px
			.header__main
				background: $blanco
				box-shadow: 0px 1px 5px 0px rgba(0,0,0, .2)
			.header__logo__colors
				position: relative
				z-index: 1
				opacity: 1
				visibility: visible
			.header__logo__white
				position: absolute
				z-index: -1
				opacity: 0
				visibility: hidden
			.header__search__open
				color: $c-1
			.header__account
				border-left: 1px solid rgba(102,102,102, .2)
				border-right: 1px solid rgba(102,102,102, .2)
			.header__account__icon,
			.header__account__text
				color: $c-1
			.header__bag__icon,
			.header__bag__text
				color: $c-1

	.header
		padding-top: 70px
		.header__content
			width: 100%
			height: 70px
			padding-left: 10px
			padding-right: 70px
		.header__menu
			display: none
		.header__search
			margin-right: 15px
		.header__account
			display: none
// --- end ---

// +++ search +++
.header-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .2s linear
	&.active
		opacity: .6
		visibility: visible
		z-index: 1000
.header-search-pop-up
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 300px
	z-index: 0
	opacity: 0
	visibility: hidden
	transition: all .2s linear
	&.active
		z-index: 1300
		opacity: 1
		visibility: visible
		.h-cerrar
			top: 40px
			opacity: 1
			visibility: visible
.header-top-wrapper
	background: $blanco
	transition: all .2s linear
	position: relative
	z-index: 50
.header-search-top
	display: table-cell
	width: 2000px
	height: 300px
	vertical-align: middle
.h-search-cnt
	position: relative
	max-width: 803px
	width: 95%
	margin: auto
.h-form
	position: relative
.h-search-input
	+placeholder($c-5,$t-0)
	input
		width: 100%
		display: inline-block
		height: 100px
		line-height: 100px
		border: none
		border-bottom: 1px solid $c-5
		color: $c-5
		font-family: $t-0
		font-size: 24px
		padding: 0 60px 0 10px
		box-sizing: border-box
	input:focus
		border-bottom: 1px solid $c-3		
.h-button
	position: absolute
	top: 0
	right: 0
	button
		border: none
		background: none
		font-weight: normal
		font-size: 35px
		color: $c-5
		line-height: 100px
.h-cerrar
	display: block
	position: absolute
	top: 40px
	right: 0
	font-size: 30px
	font-weight: normal
	box-sizing: border-box
	cursor: pointer
	color: $c-5
	top: -100%
	transition: .6s ease-in-out .3s
	opacity: 0
	visibility: hidden
.h-cerrar-before
	display: block
	color: rgba(33,33,33,.5)
	transition: all .3s linear
	@media screen and (min-width: 1025px)
		&:hover
			transform: rotate(90deg)

@media screen and (max-width: 767px)
	.header-search-top
		height: 150px
		vertical-align: bottom
		box-sizing: border-box
		padding-bottom: 30px
	.header-search-pop-up
		&.active 
			.h-cerrar
				top: 20px
	.h-cerrar
		font-size: 20px
		right: 6px		
	.h-search-input
		input
			height: 60px
			font-size: 15px
	.h-button
		button
			line-height: 60px
			font-size: 26px
// --- end ---

// +++ menu responsive +++
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0
.menu-sidebar.active
	right: 0
.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out
.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400
.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header__menu__item
		&.active,
		&.active__toggle
			.header__menu__link__text
				background: $c-2
				color: $blanco
	.header__menu__link
		display: block		
	.header__menu__link__text
		display: block	
		font-size: 14px
		padding: 10px
	.header__account
		display: block
		padding: 0 10px
	.header__account__icon,
	.header__account__text
		display: inline-block
		vertical-align: middle
	.header__account__text
		font-size: 14px
	.header__account__icon
		font-size: 16px
		margin-right: 10px
	.header__submenu
		display: none
	.header__submenu__content
		padding-top: 10px
	.header__submenu__itembox
		&.active__toggle
			.header__submenu__title__text
				color: $c-5				
			.menu__submenu__title__icono
				color: $c-5
				transform: rotate(90deg)
	.header__submenu__links
		display: none
	.header__submenu__title
		position: relative
	.header__submenu__title__text
		display: block
		font-size: 14px
		padding-top: 5px
		padding-left: 20px
		padding-bottom: 5px
	.menu__submenu__title__icono
		display: block
		width: 30px
		height: 30px
		line-height: 30px
		font-size: 14px
		text-align: center
		cursor: pointer
		position: absolute
		top: 50%
		right: 10px
		transform: rotate(0deg)
		transition: all .2s ease-in-out
		margin-top: -15px
	.header__submenu__item
		&.active
			.header__submenu__link__text
				color: $c-5
	.header__submenu__link__text
		font-size: 13px
		padding-left: 30px
		padding-right: 10px

.responsive-logo
	display: block
	width: 100px
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header__logo__white
		display: none		
.menu-mobile-close, .menu-mobile-open
	background: $c-2
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 17.5px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none
.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200
.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)
.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-2
	color: $blanco
.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)
body.active
	overflow: hidden
@media screen and (max-width: 1200px)
	.menu-mobile-close, .menu-mobile-open
		display: block
// --- end ---