@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?ea7vc9');
	src:  url('../fonts/icomoon.eot?ea7vc9#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ea7vc9') format('truetype'),
		url('../fonts/icomoon.woff?ea7vc9') format('woff'),
		url('../fonts/icomoon.svg?ea7vc9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
	content: "\e918";
}
.icon-icono-google:before {
	content: "\e913";
}
.icon-facebook:before {
	content: "\e900";
}
.icon-linkedin:before {
	content: "\e901";
}
.icon-blogger:before {
	content: "\e902";
}
.icon-bolsa-compra:before {
	content: "\e903";
}
.icon-login:before {
	content: "\e904";
}
.icon-search-add:before {
	content: "\e905";
}
.icon-checkbox:before {
	content: "\e906";
}
.icon-check-1:before {
	content: "\e907";
}
.icon-check-2:before {
	content: "\e908";
}
.icon-remove:before {
	content: "\e909";
}
.icon-close:before {
	content: "\e90a";
}
.icon-next:before {
	content: "\e90b";
}
.icon-more:before {
	content: "\e90c";
}
.icon-arriba:before {
	content: "\e90d";
}
.icon-abajo:before {
	content: "\e90e";
}
.icon-phone:before {
	content: "\e90f";
}
.icon-mesagge:before {
	content: "\e910";
}
.icon-map:before {
	content: "\e911";
}
.icon-adjuntar:before {
	content: "\e912";
}
.icon-error:before {
	content: "\e914";
}
.icon-search:before {
	content: "\e915";
}
.icon-gracias:before {
	content: "\e916";
}
.icon-youtube:before {
	content: "\e917";
}
