.equipo--fancy
	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					section.equipo__fancy
						.equipo
							.equipo__wrap
								.equipo__item
									.equipo__title
										.titulos.titulo--izquierda
											h2 Se parte de nuestro equipo
											h3 ¡escríbenos ahora!
									.equipo__form
										form
											.equipo__form.equipo__formularios
												.equipo__input
													.general__input
														.general__input__inside
															input(type='text', placeholder='Nombres y apellidos*', class='validate[required]')

												.equipo__input
													.general__input
														.general__input__inside
															input.soloNumber(type='text', placeholder='teléfono', class='validate[required]')
												.equipo__input
													.general__input
														.general__input__inside
															input(type='text', placeholder='Email*', class='validate[required]')
												.equipo__input
													.general__input__file.general__input__file--js
														.general__input__inside
															input#file-input(type='file')
															label.general__input__file__label(for='file-input')
																span.general__input__file__text Adjuntar cv:
																span.general__input__file__ico.icon-adjuntar
												.equipo__input--textarea
													.general__input.general__input--textarea
														.general__input__inside
															textarea#mensaje(class='validate[required]', placeholder='Mensaje')
												.equipo__input.equipo__input--boton
													input.btn.btn-enlace12.btn-red( type='submit', value="ENVIAR")
footer.footer(role='contentinfo')
	.footer_content
		.footer__wrap
			.footer__imagen
				img(src=`${STATIC_URL}img/footer-logo.png` width="116" height="39" alt="Best Security" class='img-fluid')
			ul.footer_menu.footer_items
				li.footer__item 
					a(href="nosotros.html") Conócenos
				li.footer__item 
					a(href="tiendas.html") Tiendas
				li.footer__item 
					a(href="terminos-condiciones.html") Términos y condiciones
				li.footer__item 
					a(href="cuenta.html") Mi cuenta
				li.footer__item 
					a(href="", data-toggle='modal', data-target='#exampleModal') Trabaja con nosotros
				li.footer__item 
					a(href="contacto.html") Contacto
			ul.footer__iconos
				li.footer__item-icono
					a(href="").icon-facebook
				li.footer__item-icono
					a(href="").icon-youtube
				li.footer__item-icono
					a(href="").icon-linkedin
				li.footer__item-icono
					a(href="").icon-blogger
		.footer__wrap.footer_creditos
			ul.footer__menu-creditos
				li.footer__menu--items © Copyright 2017 - Todos los derechos reservados
				li.footer__menu--items Diseño Web por 
					a(href="") StaffDigital



