header.header
	span.header__overlay
	.header__main
		.header__content
			.header__content__left
				a(href="home.html").header__logo.header-logo
					figure.header__logo__white
						img(src=`${STATIC_URL}img/header__logo__blanco.png`, width="100", height="34", alt="logo" name="logo")
					figure.header__logo__colors
						img(src=`${STATIC_URL}img/header__logo__colores.png`, width="100", height="34", alt="logo" name="logo")
				nav.header__menu.header-list
					ul.header__menu__content
						li.header__menu__item.header__submenu--show.active
							a(href="#").header__menu__link
								span.header__menu__link__text AUTO PARTES
							.header__submenu
								.header__submenu__content.header__submenu__content--width
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text ACCESORIOS
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item.active
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios eléctricos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Focos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Seguridad Vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios externos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Iluminación
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Repuestos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Asistencia vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Polarizados y Adhesivos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Espejos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Siliconas y ambientadores
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Ver todas las categorías
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text EQUIPAMIENTO
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Equipamiento
						li.header__menu__item.header__submenu--show
							a(href="#").header__menu__link
								span.header__menu__link__text MAQUINARIAS ELECTRICAS
							.header__submenu
								.header__submenu__content.header__submenu__content--width
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text ACCESORIOS
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios eléctricos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Focos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Seguridad Vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios externos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Iluminación
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Repuestos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Asistencia vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Polarizados y Adhesivos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Espejos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Siliconas y ambientadores
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Ver todas las categorías
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text EQUIPAMIENTO
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Equipamiento
						li.header__menu__item
							a(href="marcas.html").header__menu__link
								span.header__menu__link__text MARCAS
						li.header__menu__item
							a(href="tiendas.html").header__menu__link
								span.header__menu__link__text TIENDAS
						li.header__menu__item
							a(href="nosotros.html").header__menu__link
								span.header__menu__link__text CONÓCENOS
			.header__content__right
				.header__search
					span.header__search__open.icon-search-add
				a(href="cuenta.html").header__account
					span.header__account__icon.icon-login
					span.header__account__text MI CUENTA
				a(href="carrito.html").header__bag
					span.header__bag__icon.icon-bolsa-compra
					span.header__bag__text (3)

//- +++ search +++
span.header-overlay
.header-search-pop-up
	.header-top-wrapper
		.h-search-cnt
			.header-search-top
				span.h-cerrar
					span.h-cerrar-before.icon-close
				form(action="")
					.h-form
						.h-search-input
							input(type="text", placeholder="Ingresa el nombre o código del producto")
						.h-button
							button.icon-search

//- +++ menu responsive +++
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close
.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt