extends ./_common/base.pug

block content
	div.carrito
		div.titulos
			h2 Carrito de Cotizaciones
		div.carrito_content
			div.carrito_cotizacion--title
				div.carrito_title--producto
					p Producto
				div.carrito_title--cantidad
					p Cantidad
			- for (var x = 0; x < 4; x++)
				div.carrito_cotizacion
					div.carrito_productos
						div.carrito_productos--img
							div.carrito_productos--imagen
								img(src="/assets/img/carrito_img.png")
						div.carrito_productos--text
							p Timon marca SPARCO modelo
							p LAP 5 ALC color negro
							a(href="#") Sparco
					div.carrito_cantidad
						div.carrito_cantidad--input
							div.input-group
								span.select--mas.input-group-addon +
								input.input--select.form-control.soloNumber(type="text", value="1")
								span.select--menos.input-group-addon -
						div.carrito_cantidad--icon
							div.icon-remove
		div.carrito_button
			a.btn.btn-enlace1.btn-celeste.rounded-0( href='') Continuar Cotización
append scripts
	script.
		'use strict'
		$(()=>{
			$('.select--mas').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				$(e.target).parent().find('input').val(parseInt(currentValue)+ 1)
			})
			$('.select--menos').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				if(currentValue > 1){
					$(e.target).parent().find('input').val(parseInt(currentValue)- 1)
				}
			})
		})