extends ./_common/base.pug

block content
	// Button trigger modal
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal') Button
	// Modal
	#exampleModal1.modal.fade.carrito__modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog.carrito__modal__content(role='document')
			.modal-content
				.modal-header.carrito__modal__close
					button.modal__close.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					div.carrito
						div.titulos
							h2 Carrito de Cotizaciones
						div.carrito_content
							div.carrito_cotizacion--title
								div.carrito_title--producto
									p Producto
								div.carrito_title--cantidad
									p Cantidad
							- for (var x = 0; x < 2; x++)
								div.carrito_cotizacion
									div.carrito_productos
										div.carrito_productos--img
											div.carrito_productos--imagen
												img(src="/assets/img/carrito_img.png")
										div.carrito_productos--text
											p Timon marca SPARCO modelo
											p LAP 5 ALC color negro
											a(href="#") Sparco
									div.carrito_cantidad
										div.carrito_cantidad--input
											div.input-group
												span.select--mas.input-group-addon +
												input.input--select.form-control.soloNumber(type="text", value="1")
												span.select--menos.input-group-addon -
										div.carrito_cantidad--icon
											div.icon-remove
						div.carrito_button
							a.btn.btn-enlace1.btn-celeste.rounded-0( href='') Continuar Cotización