extends ./_common/base.pug

block content
	section.mapcontacto
		.cnt-map
			.box-map
				#google-maplima.map
				a(href="").btn.btn-enlace1.btn-celeste.cerrar-map cerrar mapa
	
	section.tabfull
		.tabcontacto
			
			.contac-form
				form(action="")
					.titulos.titulo--izquierda
						h2 Estamos a tus servicios
						h3 ¡Escríbenos ahora!
					ul
						li
							.contac-input
								input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos", class='validate[required]')
							.contac-input
								input(type="text", name="telefono", placeholder="Teléfono", class='validate[required] soloNumber')
						li
							.contac-input
								input(type="text", name="", placeholder="Email", class='validate[required]')
							.contac-input
								input(type="text", name="empresa", placeholder="Empresa", class='validate[required]')
						li
							.contac-input.contactextarea
								textarea(name="mensaje", placeholder="Mensaje", class='validate[required]')

					input.btn.btn-enlace12.btn-red( type='submit', value="Enviar")

			.contacto__content-info
				h2 Nos gustaría resolver tus dudas. Si deseas más información,déjanos tus datos y nos comunicaremos contigo.
				div.content--info
					.contacto__info
						i.icon-phone
						h3 9595959		
					.contacto__info
						i.icon-mesagge
						h3 info@safari.com.pe
					.contacto__info
						i.icon-map
						h3 Calle Rodolfot Beltrán 134 Urb. Santa 
							p Catalina, La Victoria - Lima 13 - Perú

	section.contacto-buttom
		a(href="").abrir-map.btn.btn-enlace1.btn-celeste Abrir Mapa
					

append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			$('.contc-info').eq(0).addClass('active');
			$('.contact-tabs a').click(function(e) {
				e.preventDefault();
				$('.contact-tabs a').removeClass('active');
				$(this).addClass('active');
				var dataTab = $(this).attr('data-tab');
				$('.contc-info').removeClass('active');
				$('.contc-info[id="'+dataTab+'"]').addClass('active');
			});

			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"../assets/img/marker-icono.png"
					
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".abrir-map").click(function(event) {
				event.preventDefault();
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				event.preventDefault();
				$(".box-map").removeClass('anima-map');
			});

			//- validation
			$(".contac-form form").validationEngine();
		});
