extends ./_common/base.pug

block content
	.cotizador__content__wrap
		.cotizador__content_items
			.cotizador__content__title
				h2 ¡Nos encantaría atenderte!
				p Llena el siguiente formulario y estaremos enviandote la cotización de todo lo requerido.
			.cotizador__form
				form
					.cotizador__formularios
						.cotizador__item
							.general__input
								.general__input__inside
									input(type='text', placeholder='Nombres', class='validate[required]')
						.cotizador__item
							.general__input
								.general__input__inside
									input(type='text', placeholder='Apellidos', class='validate[required]')
						.cotizador__item.cotizador__label--texto
							.general__input.general__input--textarea
								.general__input__inside
									textarea#mensaje(class='validate[required]', placeholder='Mensaje')
						.cotizador__item.cotizador__campo
							h3 *Todos los campos son obligatorios
						.cotizador__item.cotizador__campo
							input.btn.btn-enlace1.btn-enlace12.rounded-0( type='submit', value="Míralo Aquí")
append scripts
	script.
		$(()=>{
			// validation
			$(".cotizador__form form").validationEngine();
		})


