extends ./_common/base.pug

block content
	.crear-cuenta
		.crear-cuenta__wrapper
			.crear-cuenta__tittle
				.titulos.titulo--centro
					h2 Crear cuenta
					
			.crear-cuenta__cuenta-items
				form
					.cuenta__datos
						.cuenta__tittles
							h3 Datos Personales
							

						.cuenta__inputs
							.cuenta__inputs__items
								h3 Nombres*
								input(type="text", name="nombre", placeholder="Luis Felipe",class='validate[required]')
							.cuenta__inputs__items
								h3 Apellido Paterno*
								input(type="text", name="apellido_paterno", placeholder="Ortega",class='validate[required]')
							.cuenta__inputs__items
								h3 Apellidos Materno*
								input(type="text", name="apellido_materno", placeholder="Perez",class='validate[required]')
							.cuenta__inputs__items.cuenta__inputs__items--select
								h3 Tipo de Documento*
								select
									option(value='volvo') DNI
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
							.cuenta__inputs__items
								h3 Nº de Documento*
								input.soloNumber(type="text", name="telefono", placeholder="42001055",class='validate[required]')
							.cuenta__inputs__items
								h3 Teléfono*
								input.soloNumber(type="text", name="telefono", placeholder="numero",class='validate[required]')
					.cuenta__tittles.cuenta__tittles-datos
						h3 Datos de la cuenta
					.cuenta__inputs.cuentas__inputs--contrasenas
						.cuenta__inputs__items
							h3 Correo electrónico*
							input(type="email", name="nombre", placeholder="Correo electrónico",class='validate[required]')
						.cuenta__inputs__items
							h3 Contraseña*
							input(type="password", name="contraseña", placeholder="Contraseña",class='validate[required]')
						.cuenta__inputs__items
							h3 Repetir contraseña*
							input(type="password", name="Repetir_contraseña", placeholder="Repetir contraseña", class='validate[required]')
					.cuenta__checkbox__edit
						.login-formulario.login__inputs
								input.form-check-input(type='checkbox' id="input_datos")
								label.form-check-label(for='input_datos') He leído los Términos y Condiciones para el uso del sitio Web	

						.cuenta__inputs__items--botton
							input.btn.btn-enlace1.btn-plomo.rounded-0( type='submit', value="CREAR CUENTA")

append scripts
	script.
		$(()=>{
			// validation
			$(".crear-cuenta__cuenta-items form").validationEngine();
		})