extends ./_common/base.pug
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
block content
	section.product__detail__wrap
		.product__detail__container
			.product__detail__miga__container
				.general__miga
					ul
						li
							a(href='') Autopartes
						li
							a(href='') Accesorios
						li
							a.general__miga--active(href='') Timones
			.product__detail__inside__container
				.product__detail__left
					.tab__carrousel
						.tab__carrousel__left
							.tab__carrousel__wrap.tab__carrousel--js.tab__carrousel--vertical
								.tab__carrousel__image__big__wrap
									.tab__carrousel__arrow__personalized_wrap
										span.tab__carrousel__arrow__personalized_prev 
										span.tab__carrousel__arrow__personalized_next 
									.tab__carrousel__image__big__inside
										-for (var i = 0; i < 6; i++)
											.tab__carrousel__image__big.tab__carrousel__image__big--js(id=`product-Tab${i+1}`)
												img(src=`${STATIC_URL}img/item-img${i+1}.jpg`, alt="")
										
								.tab__carrousel__items__wrap.tab__carrousel__items--js
									ul.tab__carrousel__list__items.tab__carrousel__items--pitcher
										-for (var i = 0; i < 6; i++)
											li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id=`product-Tab${i+1}`)
												.tab__carrousel__items__item-img
													img(src=`${STATIC_URL}img/item-img${i+1}.jpg`, alt="")
										
				.product__detail__right
					.product__detail__right__content
						.product__detail__right__top
							.product__detail__right__brand
								span SPARCO
							.product__detail__right__title
								h3 Timon marca SPARCO modelo LAP 5 ALC color Negro
							.product__detail__right__code
								h4 SKU 123453
							.prodcut__detail__right__info
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestias, voluptatem deserunt hic et inventore.
							.product__detail__right__cotizar
								.product__detail__right__select
									div.input-group
										span.select--mas.input-group-addon +
										input.input--select.form-control.soloNumber(type="text", value="1")
										span.select--menos.input-group-addon -
								.product__detail__right__button
									a.btn.btn-enlace1.btn-celeste.rounded-0(data-toggle='modal', data-target='#exampleModal1') cotizar producto
									// Modal Cotizar Producto
									#exampleModal1.modal.fade.carrito__modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
										.modal-dialog.carrito__modal__content(role='document')
											.modal-content
												.modal-header.carrito__modal__close
													button.modal__close.close(type='button', data-dismiss='modal', aria-label='Close')
														span(aria-hidden='true') ×
												.modal-body
													div.carrito
														div.titulos
															h2 Carrito de Cotizaciones
														div.carrito_content
															div.carrito_cotizacion--title
																div.carrito_title--producto
																	p Producto
																div.carrito_title--cantidad
																	p Cantidad
															- for (var x = 0; x < 2; x++)
																div.carrito_cotizacion
																	div.carrito_productos
																		div.carrito_productos--img
																			div.carrito_productos--imagen
																				img(src="/assets/img/carrito_img.png")
																		div.carrito_productos--text
																			p Timon marca SPARCO modelo
																			p LAP 5 ALC color negro
																			a(href="#") Sparco
																	div.carrito_cantidad
																		div.carrito_cantidad--input
																			div.input-group
																				span.select--mas.input-group-addon +
																				input.input--select.form-control.soloNumber(type="text", value="1")
																				span.select--menos.input-group-addon -
																		div.carrito_cantidad--icon
																			div.icon-remove
														div.carrito_button
															a.btn.btn-enlace1.btn-celeste.rounded-0( href='') Continuar Cotización
							.product__detail__compartir
								a.btn__detail__compartir(href="#",onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.ingresaup.pe/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');") COMPARTE EL PRODUCTO

	section.product__detail__ficha__wrap
		.product__detail__ficha__container
			.product__detail__ficha__title
				h3 Ficha tecnica
			ul.product__detail__list
				-for (var i = 0; i < 6; i++)
					li.product__detail__list__item
						.product__detail__list__item__title Tamaño
						.product__detail__list__item__desc 25cm x25cm

	//- slider products
	section.slider__carrousel__item__slider__detail
		.slider__carrousel__item__container
			.slider__carrousel__item__title__wrap
				.tab__carrousel__item__arrow__personalized_wrap
					span.tab__carrousel__item__arrow__personalized_prev.icon-next
					.slider__carrousel__item__title
						h3 También te puede interesar
					span.tab__carrousel__item__arrow__personalized_next.icon-next
			.slider__carrousel__item__slide
				ul.slider__carrousel__list__items.slider__carrousel__item--js
					-for (var i = 0; i < 6; i++)
						li.slider__carrousel__item
							.item__general
								.item__general__image__product
									img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
								.item__general__code
									span SKU 12345678
								.item__general__title
									h3 Lorem ipsum dolor sit
								.item__general__button
									a.btn.btn-enlace12.btn-azul( href='detalle-producto.html') Ver Producto



append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script.
		function linkToParent(i){
			$(i).each(function(index, el) {
				$(el).css('cursor', 'pointer').click(function(e) {
					$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
				});
			});
		}
		$(function(){
			// Tab carrousel
			$('.tab__carrousel__items__item--js:first-child').addClass('active');
			$('.tab__carrousel__image__big--js:first-child').addClass('active');
			
			var itemSl = $('.tab__carrousel__items__item--js').length;
			if (itemSl > 5) {
				$('.tab__carrousel--js').addClass('tab__carrousel--active');
				$('.tab__carrousel__items--pitcher').slick({
					autoplay: false,
					autoplaySpeed: 5000,
					arrows: true,
					infinite: true,
					speed: 300,
					slidesToShow: 5,
					slidesToScroll: 1,
					prevArrow:'.tab__carrousel__arrow__personalized_prev',
					nextArrow:'.tab__carrousel__arrow__personalized_next',
					vertical: true,
					verticalSwiping: true,
					responsive: [
						{
							breakpoint: 960,
							settings: {
								vertical:false,
								slidesToShow: 4
							}
						}
					]
				});
			};

			//Carrousel tab slider arrows
			$('.tab__carrousel__items--pitcher').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				console.log(nextSlide);
				setTimeout(function(){
					id = $('.tab__carrousel__items__item--js.slick-current').attr('data-id');				
					$('.tab__carrousel__items__item--js').removeClass('active');
					$('.tab__carrousel__items__item--js.slick-current').addClass('active');
					$('.tab__carrousel__image__big--js').removeClass('active');
					$('.tab__carrousel__image__big--js[id="'+id+'"]').addClass('active');				
				},500);
			});		

			// Carrousel tab items
			$('.tab__carrousel--js .tab__carrousel__items--js .tab__carrousel__items__item--js').click(function(event){
				event.preventDefault();
				var buscaidtab = $(this).attr('data-id');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__items--js li').removeClass('active');			
				$(this).addClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js').removeClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js[id="'+buscaidtab+'"]').addClass('active');
			});

			//- input mas menos
			$('.soloNumber').each((k, el)=>{
					$(el).on('keydown', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
			})
			$('.select--mas').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				$(e.target).parent().find('input').val(parseInt(currentValue)+ 1)
			})
			$('.select--menos').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				if(currentValue > 1){
					$(e.target).parent().find('input').val(parseInt(currentValue)- 1)
				}
			})



			//- slick slider item product
			$('.slider__carrousel__item--js').slick({
				slidesToShow: 5,
				slidesToScroll: 1,
				infinite: true,
				autoplay: true,
				prevArrow:'.tab__carrousel__item__arrow__personalized_prev',
				nextArrow:'.tab__carrousel__item__arrow__personalized_next',
				dots: false,
				responsive: [
					{
						breakpoint: 2000,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1700,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 768,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});

			linkToParent('.item__general');
			
		});