extends ./_common/base.pug

block content
	.mensaje
		.mensaje__error
			.mensaje-imagen
				img(src=`${STATIC_URL}img/error-img.png` width="106" height="106" alt="" class='mensaje_imagen')
			.mensaje-texto
				h2 Error 404 
				h2 página no encontrada
				p Parece que ha habído un error con la página que estabas buscando. Es posible que en la entrada haya sido eliminado o que la dirección no exista.
				.mensaje-texto--btn
					a.btn.btn-enlace1.btn-celeste.rounded-0( href='home.html') regresar a la página principal 