extends ./_common/base.pug

block content
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
		|	equipo
	.equipo--fancy
		#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						section.equipo__fancy
							.equipo
								.equipo__wrap
									.equipo__item
										.equipo__title
											.titulos.titulo--izquierda
												h2 Se parte de nuestro equipo
												h3 ¡escríbenos ahora!
										.equipo__form
											form
												.equipo__form.equipo__formularios
													.equipo__input
														.general__input
															.general__input__inside
																input(type='text', placeholder='Hola, soy un input', class='validate[required]')

													.equipo__input
														.general__input
															.general__input__inside
																input(type='text', placeholder='Hola, soy un input', class='validate[required]')
													.equipo__input
														.general__input
															.general__input__inside
																input(type='text', placeholder='Hola, soy un input', class='validate[required]')
													.equipo__input
														.general__input__file.general__input__file--js
															.general__input__inside
																input#file-input(type='file')
																label.general__input__file__label(for='file-input')
																	span.general__input__file__text Adjuntar
																	span.general__input__file__ico.icon-adjuntar
													.equipo__input--textarea
														.general__input.general__input--textarea
															.general__input__inside
																textarea#mensaje(class='validate[required]', placeholder='Mensaje')
													.equipo__input.equipo__input--boton
														a.btn.btn-enlace12.btn-red( href='') ENVIAR


