extends ./_common/base.pug

block content
	.listado__content_grnal
		.listado__wrapp
			.listado__menu
				//- .listado-pastilla
				//- 	ul
				//- 		li Autopartes
				//- 		li Accesorios
				//- 		li Timones
				.listado__filtro
					h2 FILTROS SELECCIONADOS
					ul.filtros__seleccion
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| Eagleye
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 AUTOPARTES
						li.listado__categoria__name.listado__categoria__name--tittle Accesorios
							ul
								li.listado__categoria_item
									a(href='asda')
										|Accesorios electricos

								li.listado__categoria_item
									a(href='asda')
										|Accesorios externos
								li.listado__categoria_item
									a(href='asda')
										|Accesorios internos
								li.listado__categoria_item
									a(href='asda')
										|Asistencia vehicular
								li.listado__categoria_item 
									a(href='asda')
										|Espejos
								li.listado__categoria_item 
									a(href='asda')
										|Focos
								li.listado__categoria_item.listado__categoria__item--maximo
									a(href='asda')
										|Ver más

						li.listado__categoria__name.listado__categoria__name--color
							ul.listado__categoria__name.listado__categoria__name--tittle Equipamiento
								li.listado__categoria_item
									a(href='asda')
										|Equipamiento
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 TIPOS
						li.listado__categoria_item
							a(href="")
								|A
						li.listado__categoria_item
							a(href="")
								|B
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 MARCAS
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos1")
								label.form-check-label(for='check-productos1') Wimbo


						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos2")
								label.form-check-label(for='check-productos2') DLAA
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos3")
								label.form-check-label(for='check-productos3') Safari
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos4")
								label.form-check-label(for='check-productos4') Etizo
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos5")
								label.form-check-label(for='check-productos5') Eagleye
						
						
						
			.listado__cuerpo
				.listado__cuerpo__banner(style=`background-image: url(${STATIC_URL}img/banner_listado.png)`)
					.listado__cuerpo__banner--title
						h2 ACCESORIOS
				.listado__nav__cuerpo
					ul.listado__nav__content
						li.listado__nav__tittle ORDENAR POR:
						li.listado__nav__sub 
							a(href="")
								| Más relevante
						li.listado__nav__sub 
							a(href="")
								| Novedades

				.listado__cuerpo__items
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
				.listado__ver
					ul.listado__opcion__productos
						li
							a(href="")
								i.listado__opcion
						li
							a(href="")
								i.listado__opcion
						li
							a(href="")
								i.listado__opcion
					.listado__text
						h3 VER MÁS PRODUCTOS
						
