extends ./_common/base.pug

block content
	div.marcas
		div.marcas_title
			h3 Marcas
		div.marcas_banner
			div.marcas_banner--img(style="background-image: url('/assets/img/banner_accesorios.png')")
				div.marcas_banner--title
					h4 Accesorios Eléctricos
		div.marcas_content
			- for (var x = 0; x < 8; x++)
				div.marcas_content--img
					a(href="#")
						img.marcas_content--imagen(src="/assets/img/img_accesorios_1.png")