extends ./_common/base.pug

block content
	div.tiendas
		div.titulos.titulo--centro
			h2 Encuentra más de 30
			h3 tiendas a tu servicio
		div.tiendas_content
			div.tiendas_tabs--button
				button(onclick="openTab('tiendas_tab1')") Tiendas Principales
				button(onclick="openTab('tiendas_tab2')") Nuestros Socios
			div#tiendas_tab1.tiendas--tabs
				div.tiendas_tab1
					- for (var x = 0; x < 5; x++)
						div.tiendas_tab1--content
							div.tiendas_tab1--img
								div.tiendas_tab1--imagen(style="background-image: url('/assets/img/img_tiendas.png')")
							div.tiendas_tab1--info
								div.tiendas_tab1--text
									div.text--title
										span.icon-map
										h5 Aviación
									p Dirección: Av. Aviación 1070. La victoria. Lima. Lima
									p Teléfono: (511) 324-3363 / 324-3077
									p E-Mail: aviacion@safari.com.pe
									div.text--button
										a(href="").btn.btn-enlace12.btn-red.map__general--open--map Ver en mapa
						//- modal
						//- div.modal.fade#exampleModalLong(tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
						//- 	div.modal-dialog(rol="document")
						//- 		div.modal-content
						//- 			div.modal-body
						//- 				p ...

			div#tiendas_tab2.tiendas--tabs
				div.tiendas_tab1
					- for (var x = 0; x < 5; x++)
						div.tiendas_tab1--content
							div.tiendas_tab1--img
								div.tiendas_tab1--imagen(style="background-image: url('/assets/img/img_nosotros_footer.png')")
							div.tiendas_tab1--info
								div.tiendas_tab1--text
									div.text--title
										span.icon-map
										h5 Aviación
									p Dirección: Av. Aviación 1070. La victoria. Lima. Lima
									p Teléfono: (511) 324-3363 / 324-3077
									p E-Mail: aviacion@safari.com.pe
									div.text--button
										a(href="").btn.btn-enlace12.btn-red.map__general--open--map Ver en mapa
			section.map__general__wrap
				.map__general__container
					.map__general__container__box
						.map__general__box
							.map#google-maplima
							a(href="").map__general--close--map.btn.btn-enlace1.btn-celeste cerrar mapa


append scripts
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function(){
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18);// <- Your latitude and longitude
					var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
						{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
						{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
						{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
						{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
						{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
						{"featureType": "transit","stylers": [{"visibility": "off"}]},
						{"featureType": "poi","stylers": [{"visibility": "off"}]}
						]

			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles           : styles,
				draggable        : true
			}
			var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				icon:"assets/img/marker-icono.png"
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap),
			$(".map__general--open--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").addClass('anima-map');
			});
			$(".map__general--close--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").removeClass('anima-map');
			});
		});
		function openTab(tiendas_tab1) {
			var i;
			var x = document.getElementsByClassName("tiendas--tabs");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";  
			}
			document.getElementById(tiendas_tab1).style.display = "block";  
		}