extends ./_common/base.pug

block content
	.titulos
		h2 Productos destacados
	.titulos.titulo--izquierda
		h2 Productos destacados
		h3 texto
	.titulos.titulo--centro
		h2 Productos destacados
		h3 texto