.accesorios
	max-width: 1200px
	width: 100%
	margin: auto
	padding-top: 50px
	.accesorios_title
		padding-bottom: 50px
		h3
			font-family: $t-3
			color: $c-5
			font-size: 33px
			text-transform: uppercase
	.accesorios_banner
		width: 100%
		height: 260px
		.accesorios_banner--img
			width: 100%
			height: 100%
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			position: relative
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			align-items: center
			.accesorios_banner--title
				max-width: 300px
				width: 100%
				margin: auto
				text-align: center
				h4
					font-family: $t-1
					font-size: 28px
					color: $blanco
					text-transform: uppercase
					margin-bottom: 0
	.accesorios_content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		padding: 40px 0px 100px 0px
		max-width: 1200px
		width: 100%
		margin: auto
		.accesorios_content--img
			width: auto
			height: 260px
			margin: 4px
			overflow: hidden
			.accesorios_content--imagen
				width: 100%
				height: 100%
				position: relative
				transition: 3.5s ease
				&:hover
					transform : scale(1.1)

@media screen and (max-width: 1216px)
	.accesorios
		.accesorios_content
			max-width: 900px
			width: 100%
@media screen and (max-width: 1025px)
	.accesorios
		.accesorios_content
			.accesorios_content--img
				overflow: initial
				.accesorios_content--imagen
					transition: none
					&:hover
						transform: none
@media screen and (max-width: 920px)
	.accesorios
		.accesorios_content
			max-width: 600px
			width: 100%
@media screen and (max-width: 620px)
	.accesorios
		.accesorios_content
			max-width: 300px
			width: 100%
				