.carrito
	max-width: 885px
	width: 100%
	margin: auto
	padding: 10px 0px 60px 0px
	.carrito_content
		.carrito_cotizacion--title
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			align-items: center
			.carrito_title--producto
				width: 50%
				margin: auto
				font-family: $t-0
				font-size: 14px
				text-transform: uppercase
			.carrito_title--cantidad
				width: 24%
				margin: auto
				font-family: $t-0
				font-size: 14px
				text-transform: uppercase
		.carrito_cotizacion
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			padding: 60px 0px
			border-top: 1px solid $c-6
			.carrito_productos
				max-width: 400px
				width: 100%
				margin: auto
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: flex-start
				.carrito_productos--img
					.carrito_productos--imagen
						width: 100px
						height: 100px
						img
							width: 100%
							height: auto
							display: block
				.carrito_productos--text
					padding-left: 8%
					p
						font-family: $t-0
						font-size: 16px
						color: #4a4a4a
						margin-bottom: 0
					a
						font-family: $t-0
						font-size: 13px
						color: $c-3
						text-transform: uppercase
						padding-top: 10px
			.carrito_cantidad
				max-width: 200px
				width: 100%
				margin: auto
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: flex-start
				.carrito_cantidad--input
					width: 110px
					.input-group
						.input--select
							border-left: 0
							border-right: 0
							height: 40px
							font-size: 16px
							font-family: $t-0
							color: $c-5
							border-color: $c-6
							&:focus
								border-color: $c-6
						.select--mas
							background-color: $blanco
							border-top-left-radius: 50%
							border-bottom-left-radius: 50%
							height: 40px
							border-color: $c-6
						.select--menos
							background-color: $blanco
							border-top-right-radius: 50%
							border-bottom-right-radius: 50%
							height: 40px
							border-color: $c-6
				.carrito_cantidad--icon
					margin-left: 60px 
					margin: auto
					font-size: 20px
					color: $c-0
					&:hover
						color: $c-5
	.carrito_button
		text-align: center

@media screen and (max-width: 768px)
	.carrito
		.carrito_content
			.carrito_cotizacion--title
				display: none
				.carrito_title--producto
					font-size: 13px
			.carrito_cotizacion
				.carrito_productos
					.carrito_productos--img
						.carrito_productos--imagen
							width: 90px
							height: 90px
					.carrito_productos--text
						p
							font-size: 13px
@media screen and (max-width: 616px)
	.carrito
		.carrito_content
			.carrito_cotizacion
				width: 90%
				margin: auto
				.carrito_productos
					margin-bottom: 25px

				

@media screen and (max-width: 362px)
	.carrito
		.carrito_content
			.carrito_cotizacion
				.carrito_productos
					text-align: center
					max-width: 220px
					.carrito_productos--img
						margin: auto
						padding-bottom: 20px
				.carrito_cantidad
					max-width: 105px
					text-align: center
				.carrito_cantidad--icon
					padding-top: 20px
					margin: auto
					text-align: center

