.modal-open .carrito__modal
	padding-left: 0px
.carrito__modal
	z-index: 1300
.modal.fade .carrito__modal__content
	max-width: 840px
	transform: translate(25%,0)
	// margin-top: 0
.modal.show .modal-dialog
	transform: translate(0,0)
.carrito__modal__content
	margin-right: 0
	margin-top: 0
.carrito__modal__close
	display: initial
	border: 0
.modal__close
	font-size: 40px