.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 350px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: none
		.cerrar-map
			position: absolute
			right: 20px
			top: 20px
			z-index: 100

.contacto-buttom
	display: none
	text-align: center
	margin-bottom: 40px

@media screen and (max-width: 768px)
	.contacto-buttom
		display: block
		
	.mapcontacto
		.cnt-map
			.cerrar-map
				display: block
			.box-map
				position: fixed
				left: 0
				top: -200%
				height: 100%
				width: 100%
				z-index: 3000
				transition: all .4s linear
				&.anima-map
					top: 0


.tabcontacto
	max-width: 1150px
	width: 95%
	margin: auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-bottom: 40px
.contac-nav
	width: 50%
	background: $blanco
	display: inline-block
	box-sizing: border-box
	padding-top: 65px
	position: relative
	margin-top: -255px
	h2
		font-size: 28px
		font-family: $t-1
		color: #58595b
		margin-bottom: 30px
.contac-padding
	padding: 0px 75px
.contact-tex
	font-size: 16px	
	text-align: center
	color: $c-0
.contact-tabs
	margin-top: 45px
	text-align: center
	a
		text-decoration: none
		color: #58595b
		font-size: 16px
		transition: all .3s ease
		padding-bottom: 25px
		border-bottom: 3px solid transparent
		&:hover, &.active
			color: $c-3
			border-bottom: 3px solid $c-3
	a:nth-child(2)
		margin: 0 90px
.contc-info	
	padding-bottom: 65px
	padding-top: 65px
	opacity: 0
	visibility: hidden
	position: absolute
	top: 0
	&.active
		opacity: 1
		position: relative
		visibility: visible
.contact-itm
	display: block
	margin-bottom: 35px
	text-align: left
	a, p
		color: $c-0
		display: block
		height: 20px
		font-size: 15px
		text-transform: none
		text-decoration: none
		padding-left: 50px
		position: relative
		&:before
			color: $c-3
			font-weight: bold
	&:nth-child(1)
		a:before
			content: '\e90e'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 25px
	&:nth-child(2)
		a:before
			content: '\e90b'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 18px	
	&:nth-child(3)
		p:before
			content: '\e941'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 25px				
.contacto__content-info
	width: 44%
	h2
		font-size: 14px
		color: $c-1
.contacto__info
	display: flex
	align-items: center
	padding-top: 41px
	i
		font-size: 27px
		color: $c-3
	h3
		font-size: 14px
		padding-left: 30px
		font-family: $t-0
		p
		padding-top: 8px	

.contacredes
	background: #f9f9f9	
	height: 90px
	display: flex
	justify-content: center
	align-items: center
	padding: 0px 75px
	text-align: left
	span
		font-size: 16px
		color: $c-0
	a
		color: $c-0
		font-size: 20px
		text-decoration: none
		&:hover
			color: $c-3
.contac-form
	width: 44%
	margin-left: 6%
	padding-top: 45px
	li
		flex-wrap: wrap
		display: flex
		justify-content: flex-start
.contacto__content-info
	margin-top: 120px
.contac-input
	width: 45%	
	margin-bottom: 45px
	+placeholder($c-0,$t-0)
	input, textarea
		font-size: 14px
		color: $c-0
		width: 100%
		height: 40px
		border: none
		border-bottom: 1px solid $c-0
	&:first-child
		margin-right: 10%
.contactextarea
	width: 100%
	margin-right: 0 !important
	textarea
		width: 100%
		height: 100px	
.contacto__info
	p
		margin: auto
@media screen and (max-width: 1024px)
	.tabcontacto
		flex-direction: column
	.contac-nav
		width: 100%	
	.contac-form
		width: 100%
		margin-left: 0
	.contac-nav h2
		font-size: 25px	
		text-align: center	
	.contacto__content-info
		width: 100%
		margin-top: 50px
		h2
			text-align: center
	.content--info
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		max-width: 800px
		width: 100%
		margin: auto
	.contacto__info
		text-align: center
		margin: auto
		align-items: center
		justify-content: center
		padding-left: 20px
		padding-right: 20px
		h3
			padding-left: 15px
	.contac-form
		order: 1
@media screen and (max-width: 640px)
	.contac-padding
		padding: 0 20px
	.contact-tabs a:nth-child(2)
		margin: 0 20px
	.contacredes
		padding: 0px 20px
@media screen and (max-width: 400px)
	.contac-input
		width: 100%
		margin-bottom: 30px
		&:first-child
			margin-right: 0