.cotizador__content__wrap
	max-width: 530px
	margin: auto
.cotizador__content__title
	h2
		font-size: 17px
		font-family: $t-1
		color: $c-5
		text-align: center
		margin: auto

	p
		font-size: 14px
		font-family: $t-0
		color: $c-5
		padding-top: 26px
.cotizador__content_items
	padding-top: 95px
	padding-bottom: 113px
.cotizador__formularios
	display: flex
	padding-top: 20px
	padding-bottom: 40px
	flex-wrap: wrap
	.general__input__inside
		margin-right: 20px
.cotizador__item
	margin-top: 40px
	width: 50%
	input
		border: none
		border-bottom: 1px solid #CACACA
	textarea
		border: none
		border-bottom: 1px solid #CACACA
.cotizador__label--texto
	width: 100%
	margin-top: 48px
.cotizador__campo
	width: 100%
	text-align: center
@media screen and (max-width: 480px)
	.cotizador__item
		width: 100%
		.general__input__inside
			margin-right: 0
	.cotizador__content_items
		padding: 16px
	.cotizador__content__title
		p
			text-align: center
