.crear-cuenta__wrapper
	max-width: 1080px
	margin: auto 
.crear-cuenta
	.titulo--centro h2
		color: $c-5
	.cuenta__datos
		padding-bottom: 79px
	.cuenta__tittles 
		h3
			width: 100%
			padding-top: 64px
	.cuenta__inputs__items 
		h3
			padding-bottom: 12px
	.cuenta__tittles-datos
		position: relative
		&:before
			content: ""
			height: 2px
			width: 100%
			background-color: #cacaca
			position: absolute
			left: 0
			top: 0
			bottom: 0
			text-align: center
			right: 0
.cuenta__checkbox
	.form-check-label
		margin-top: 60px
		margin-bottom: 70px	
		font-size: 14px
		color: c-5
		font-family: $t-1 
		margin-left: 20px
		&:hover
			text-decoration: underline

@media screen and (max-width: 980px)

	.crear-cuenta
		overflow: hidden
		.cuenta__tittles h3
			padding-top: 0
			padding: 10px
		.cuenta__tittles-datos
			position: relative
			&:before
				display: none
		.cuenta__inputs__items
			width: 49%
			padding: 10px
		.cuenta__datos
			padding-bottom: 0
			padding-top: 10px
		.cuenta__tittles-datos
			h3
				padding-bottom: 0px
		.cuenta__tittles
			padding-top: 10px
			padding-bottom: 20px
	.cuenta__checkbox
		padding: 10px	
@media screen and (max-width: 480px)
	.crear-cuenta
		.cuenta__inputs__items
			width: 100%
			margin-left: 0			