.cuenta-wrap
	max-width: 1080px
	margin: auto 
.cuenta-menu
	margin-bottom: 77px
	border-bottom: 2px solid #e7e7e7
	li
		display: inline-block
		transition: all 450ms ease
		vertical-align: middle
		position: relative
		padding: 8px 10px 8px 10px
		color: #8f8f8f	
		&:before
			content: ""
			position: absolute
			bottom: -3px
			width: 100%
			height: 5px
			transform: translateX(-10px)
			left: 0
			transition: all 450ms ease

		&:hover,	
		&.cuenta__item--activo
			color: #212121
			&:before
				background: #666666
				transform: translateX(0)
.mi-cuenta__content
	display: none
.cuenta__tittles
	display: flex
	padding-bottom: 49px
	h3
		font-size: 17px
		font-family: $t-1
		color: $c-5 
		width: 50%
	a
		font-size: 14px
		font-family: $t-0
		color: $c-5 
		text-align: right
		width: 50%
.cuenta__inputs
	display: flex
	flex-wrap: wrap
.cuenta__inputs__items
	padding-bottom: 28px
	width: 30%
	margin-left: 2%
	color: $c-0
	input
		width: 100%
		height: 39px
		border: 1px solid #cacaca
		border-radius: 3px 
		padding-left: 19px
		
	h3
		font-size: 14px
		font-family: $t-0
		margin: auto
		padding-bottom: 12px
	select
		width: 100%
		height: 39px
		padding-left: 5px
		color: #cacaca
		border: 1px solid #cacaca
.cuenta__tittles-datos
	display: block
	h3
		width: 100%
.cuenta-wrap--title
	h2
		font-size: 17px
		margin: auto
		font-family: $t-1
.cuenta__cotizaciones
	display: flex
.cuenta__box
	display: flex
	justify-content: center
.cuenta__datos--contrasena
	padding-top: 56px
.cuenta__inputs__items--botton
	text-align: center
	width: 100%
	padding-top: 30px
	padding-bottom: 70px
.cuenta__box
	border: 1px solid #cccccc
	min-height: 136px
	border-radius: 17px
	margin-top: 15px
	h3
		margin-bottom: 5px
.cuenta-box
	padding-top: 118px
	padding-bottom: 168px

.cuenta__titles
	align-self: center
	width: 90%
	text-align: left
	h3
		margin-bottom: 2px
.cuenta__descargas
	display: flex
.cuenta__titles
	i
		font-size: 19px
		color: $c-5
	h2
		font-size: 14px
		margin-left: 12px
		font-family: $t-0
		text-decoration: underline
		color: $c-5
@media screen and (max-width: 980px)
	.cuenta__tittles
		padding: 10px
	.cuenta__inputs__items
		width: 49%
		margin-left: 1%
	.cuenta-box
		padding-top: 0
		padding-bottom: 0
@media screen and (max-width: 480px)
	.cuenta__inputs__items
		width: 100%
		margin-left: 0