.product__detail__wrap
	padding-bottom: 50px
	padding-top: 25px	

.product__detail__container
	max-width: 1120px
	margin: auto
	padding: 0 20px

.product__detail__inside__container
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.product__detail__left
	width: 65%

.product__detail__right
	width: 35%
	padding-left: 30px
	box-sizing: border-box

.product__detail__right__brand
	span
		display: block
		font-size: 13px
		text-transform: uppercase
		color: $c-4
		font-family: $t-2

.product__detail__right__title
	margin-top: 15px
	h3 
		font-size: 22px
		text-transform: uppercase
		color: $negro
		line-height: 1.2
		font-family: $t-1
		margin: 0	

.product__detail__right__code
	margin-top: 10px	
	h4 
		font-size: 13px
		font-family: $t-0
		color: $c-0

.prodcut__detail__right__info
	margin-top: 35px	
	p 
		font-size: 14px	
		color: $c-1
		line-height: 1.4
		margin: 0	

.product__detail__right__cotizar
	margin-top: 40px
	display: flex	
	justify-content: space-between	
	flex-wrap: wrap

.product__detail__compartir
	margin-top: 20px

.product__detail__right__select
	margin-bottom: 10px	
	.input-group
		width: 110px
		margin-right: 15px		

.btn__detail__compartir
	position: relative	
	font-size: 11px	
	text-transform: uppercase	
	letter-spacing: 1px 
	color: $negro
	padding-left: 20px	
	box-sizing: border-box	
	&:before
		content: ""
		position: absolute	
		top: 0	
		left: 0	
		bottom: 0	
		margin: auto	
		width: 10px	
		height: 10px	
		background: url('../img/compartir-icon.svg') 0px 0px no-repeat

.btn__detail__compartir:hover 
	color: $negro

.product__detail__right__button
	.btn 
		padding: 13px 35px

.general__miga
	margin-bottom: 65px
	ul
		margin-bottom: 0
	a
		font-size: 14px
		color: $c-0
		transition: all 0.25s linear
		&.general__miga--active
			color: $c-1
	li
		display: inline-block
		vertical-align: middle
		padding-right: 20px
		padding-left: 10px
		font-size: 14px
		position: relative
		&:last-child
			padding-right: 0
			&:before
				display: none
		&:before
			content: ">"
			position: absolute
			top: 0
			bottom: 0
			margin: auto
			right: 0
			color: $c-0

@media screen and (min-width: 1025px)
	.general__miga ul a:hover
		color: $c-1

.tab__carrousel__wrap.tab__carrousel--vertical
	display: flex
	flex-direction: row-reverse
	justify-content: space-between
	.tab__carrousel__image__big__inside
		width: 100%
		margin: auto
	.tab__carrousel__image__big__wrap
		width: 84%
		box-sizing: border-box
	.tab__carrousel__items__wrap
		width: 12%
	.tab__carrousel__items__list
		text-align: center
	.tab__carrousel__items__item
		display: block
		width: 100%
		margin: 0
		padding: 0
		margin-bottom: 10px
		box-sizing: border-box
		padding: 1px
	.tab__carrousel__items__wrap
		margin: 0
		box-sizing: border-box
	.slick-slider
		margin: 0
		width: 100%
		height: 100%
		padding: 0
		display: flex
		flex-direction: column
		justify-content: space-between
	.slick-prev
		position: relative
		top: inherit
		bottom: 0
		margin: 0 auto
		left: 0
		right: 0
	.slick-next
		position: relative
		top: 0
		margin: 0 auto
		left: 0
		right: 0

.tab__carrousel__arrow__personalized_wrap
	display: none

.tab__carrousel--vertical.tab__carrousel--active
	.tab__carrousel__items__wrap
		display: flex
		align-items: center
	.tab__carrousel__image__big__inside
		width: 84%
		margin: auto
	.tab__carrousel__arrow__personalized_wrap
		display: block

.tab__carrousel--horizontal.tab__carrousel--active .tab__carrousel__items__item
	margin: 0 5px

.tab__carrousel__wrap
	width: 100%
	.slick-slider
		margin-bottom: 0
		padding: 0 50px
		box-sizing: border-box
	.tab__carrousel__items__wrap
		padding: 0
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		margin-top: -15px
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		background: transparent
		border-radius: 100%
		padding: 0
		overflow: hidden
		font-size: 0
		transition: all 0.25s linear
	.slick-prev:before, .slick-next:before
		font-family: 'icomoon'
		font-size: 25px
		color: #000
		line-height: 30px
		text-align: center
		transition: all 0.25s linear
	.slick-prev:hover, .slick-next:hover
		background: #000
		border: 1px solid #000
	.slick-prev:hover:before, .slick-next:hover:before
		color: #fff
	.slick-prev
		left: 0
		&:before
			content: "\e607"
		.slick-next
			right: 0
		&:before
			content: "\e606"

.tab__carrousel__items__wrap
	position: relative
	overflow: hidden
	margin-top: 25px
	padding: 0 60px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	.slick-list
		overflow: hidden

.tab__carrousel__list__items
	font-size: 0

.tab__carrousel__items__item
	display: inline-block
	cursor: pointer
	box-sizing: border-box
	margin: 0 1.5%
	box-sizing: border-box
	width: 22%
	img
		width: 100%
		height: auto
		display: block
	&.active .tab__carrousel__items__item-img
		border: 1px solid $c-0

.tab__carrousel__items__item-img
	border: 1px solid transparent
	box-sizing: border-box
	transition: all 0.25s linear

.tab__carrousel__image__big__inside
	position: relative

.tab__carrousel__arrow__personalized_wrap
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.tab__carrousel__arrow__personalized_prev, .tab__carrousel__arrow__personalized_next
	position: absolute
	top: 50%
	margin-top: -15px
	width: 30px
	height: 30px
	line-height: 30px
	text-align: center
	background: transparent
	padding: 0
	overflow: hidden
	font-size: 0
	transition: all 0.25s linear
	z-index: 100
	cursor: pointer

.tab__carrousel__arrow__personalized_prev:before, .tab__carrousel__arrow__personalized_next:before
	font-family: 'icomoon'
	font-size: 25px
	color: $c-1
	line-height: 30px
	text-align: center
	transition: all 0.25s linear

.tab__carrousel__arrow__personalized_prev:hover:before, .tab__carrousel__arrow__personalized_next:hover:before
	color: $c-4

.tab__carrousel__arrow__personalized_prev
	left: 0
	&:before
		display: block
		content: "\e90b"
		transform: rotate(180deg)

.tab__carrousel__arrow__personalized_next
	right: 0
	&:before
		display: block
		content: "\e90b"

.tab__carrousel__image__big__wrap
	width: 100%
	position: relative

.tab__carrousel__image__big
	width: 100%
	height: auto
	position: absolute
	top: 0
	left: 0
	z-index: -1
	visibility: hidden
	box-sizing: border-box
	border: 1px solid #transparent
	img
		width: 100%
		height: auto
		display: block
	&.active
		position: relative
		z-index: 1
		visibility: visible


@media screen and (max-width: 1024px)
	.tab__carrousel__wrap
		.slick-prev, .slick-next
			width: 30px
			height: 30px
			line-height: 30px
			margin-top: -15px
		.slick-prev:before, .slick-next:before
			font-size: 20px
			line-height: 30px
		.slick-slider
			display: block
			padding: 0 40px

	.product__detail__left
		width: 55%	
	.product__detail__right 
		width: 45%	

@media screen and (max-width: 960px)
	.product__detail__wrap
		padding-top: 40px	

	.product__detail__left
		width: 50%	
	.product__detail__right 
		width: 50%	

	.tab__carrousel__wrap.tab__carrousel--vertical
		display: block
		.tab__carrousel__image__big__wrap
			width: 100%
		.tab__carrousel__items__wrap
			width: 100%
			display: block
		.tab__carrousel__items__list
			text-align: center
		.tab__carrousel__items__item
			display: inline-block
			margin: 0 7px
			padding: 0
		.tab__carrousel__items__wrap
			margin-right: 0%
			margin-top: 25px
		.slick-list
			margin-top: 0
		.slick-slider
			display: block
			padding: 0 40px
		.slick-prev
			position: absolute
			top: 0
			bottom: 0
			margin: 0
			left: 0
			right: inherit
			margin: auto
		.slick-next
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: inherit
			margin: auto
	.tab__carrousel__items__item
		margin: 0 1.5%
		box-sizing: border-box
		width: 22%
	.tab__carrousel--vertical.tab__carrousel--active .tab__carrousel__items__item
		margin: 0 5px

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__wrap
		width: 100%	
		margin-top: 20px	

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__image__big__wrap
		width: 100%	

	.tab__carrousel--vertical.tab__carrousel--active .tab__carrousel__image__big__inside
		width: 100%	


@media screen and (max-width: 767px)
	.product__detail__wrap
		padding-bottom: 40px	

	.tab__carrousel__arrow__personalized_wrap
		display: none !important	

	.product__detail__container
		max-width: 1240px
		margin: auto
		padding: 0 15px
	.product__detail__left
		width: 100%
	.product__detail__right
		width: 100%
		padding: 0
		margin-top: 30px	
	.general__miga
		display: none
	.tab__carrousel__items__wrap
		margin-top: 20px
	.tab__carrousel__wrap
		width: 100%
		.slick-prev, .slick-next
			display: none !important
		.slick-slider
			padding: 0
		&.tab__carrousel--vertical
			.slick-slider
				padding: 0
			.tab__carrousel__items__wrap
				margin-top: 20px

	.product__detail__right__cotizar
		justify-content: flex-start

//tab carrousel product detail
.slider__carrousel__item__slider__detail
	padding-bottom: 60px	

.tab__carrousel__item__arrow__personalized_wrap
	display: flex		
	justify-content: center
	align-items: center	
	.tab__carrousel__item__arrow__personalized_prev
		display: block
		margin: 0
		margin-right: 40px
		width: 20px
		height: 20px
		line-height: 20px
		font-size: 12px		
		cursor: pointer	
		transform: rotate(180deg)
	.tab__carrousel__item__arrow__personalized_next
		display: block
		margin: 0	
		margin-left: 40px
		width: 20px
		height: 20px
		line-height: 20px
		font-size: 12px		
		cursor: pointer

@media screen and (max-width: 1024px)
	.slider__carrousel__item__slider__detail
		padding-bottom: 50px

@media screen and (max-width: 767px)
	.tab__carrousel__item__arrow__personalized_wrap 
		.tab__carrousel__item__arrow__personalized_next
			display: none !important	
		.tab__carrousel__item__arrow__personalized_prev 
			display: none !important

	.slider__carrousel__item__slider__detail
		padding-bottom: 40px

// ficha
.product__detail__ficha__wrap
	padding-bottom: 65px	

.product__detail__ficha__container
	max-width: 900px
	margin: auto	
	padding: 0 20px 
	box-sizing: border-box	

.product__detail__ficha__title
	margin-bottom: 30px	
	h3 
		font-size: 25px	
		font-family: $t-3
		color: $c-3
		margin: 0	

.product__detail__list__item
	display: flex	
	align-items: center	
	flex-wrap: wrap
	text-align: left 
	padding: 15px 10px
	box-sizing: border-box	
	border-bottom: 1px solid $c-6

.product__detail__list__item__title
	width: 50%
	font-family: $t-1
	font-size: 15px	
	color: $c-0

.product__detail__list__item__desc
	width: 50%	
	font-size: 15px	
	color: $c-5
	font-family: $t-0

@media screen and (max-width: 1024px)
	.product__detail__ficha__wrap
		padding-bottom: 50px	

@media screen and (max-width: 767px)
	.product__detail__ficha__wrap
		padding-bottom: 40px

	.product__detail__ficha__container
		padding: 0 15px 		
