
@media screen and (max-width: 1200px)
	h1
		color: red
@media screen and (max-width: 1000px)
	h1
		color: blue
@media screen and (max-width: 768px)
	h1
		color: peru
@media screen and (max-width: 500px)
	h1
		color: yellow