.equipo
	.titulos
		padding: 0
.equipo--fancy
	.modal-header
		justify-content: flex-end
	.modal-dialog
		max-width: 860px
.equipo__wrap
	max-width: 620px
	margin: auto
.equipo__formularios
	display: flex
	width: 100%
	flex-wrap: wrap
.equipo__input
	width: 48%
	margin-top: 30px
	margin-left: 3%
	&:nth-child(1)
		margin-left: 0
	&:nth-child(3)
		margin-left: 0
.equipo__input--textarea
	margin-top: 60px
.equipo__input--textarea
	width: 100%
.equipo__input
	input, label
		border: none
		border-bottom: 1px solid #666666

.equipo__input--textarea
	.general__input__inside
		textarea
			border: none
			border-bottom: 1px solid #666666
@media screen and (max-width: 480px)
	.equipo__input
		width: 100%
		margin-left: 0
