.mensaje
	max-width: 960px
	margin: auto
	box-sizing: border-box
	display: flex
	justify-content: center
	align-items: center 
	height: calc(100vh - 249px)
.mensaje__error
	display: flex
	align-items: start
	justify-content: center

.mensaje-imagen
	img
		max-width: 100%
		height: auto
		display: block
.mensaje-texto
	padding-left: 50px
	h2
		font-size: 25px
		text-transform: uppercase
		margin: auto
		color: $c-5
		font-family: $t-1
		padding-bottom: 10px
	p
		font-size: 14px
		color: $c-0
		margin: auto
		max-width: 450px
		font-family: $t-0
		margin-bottom: 40px
		margin-top: 20px

@media screen and (max-width: 1024px)
	.mensaje
		padding: 100px 15px
		height: auto

@media screen and (max-width: 768px)
	.mensaje__error
		flex-direction: column
	.mensaje-imagen
		width: 100%
		padding-bottom: 25px
	.mensaje-texto
		width: 100%
		padding-left: 0px
		h2
			text-align: center
		p
			max-width: initial
			text-align: center
	.mensaje-texto--btn
		text-align: center
			
@media screen and (max-width: 480px)
	.mensaje-texto
		h2
			font-size: 18px
