.slider__principal__wrap__all
	position: relative

.slider__principal__block__static
	height: 590px
	width: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $negro
		opacity: .4

.slider__contact__section
	position: absolute
	bottom: 130px
	left: -70px
	transform: rotate(-90deg)

.slider__contact__tel
	color: $blanco !important
	text-decoration: inherit !important
	font-size: 16px
	font-family: $t-1
	padding-right: 12px
	letter-spacing: 2px

.slider__contact__mail
	color: $blanco !important
	text-decoration: inherit !important
	font-size: 11px
	font-family: $t-0
	padding-left: 12px
	letter-spacing: 1px
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		margin: auto
		width: 1px
		height: 100%
		background: rgba(255,255,255,.5)

.slider__principal__wrap
	position: absolute
	top: 90px
	box-sizing: border-box
	left: 0
	right: 0
	margin: auto
	width: calc(100% - 180px)
	box-shadow: 1px 23px 18px -12px rgba(0,0,0,0.25)
	.general__button--home .btn
		background: $c-3
		border: $c-3
.slider__principal		
	position: relative
	height: 553px
	overflow: hidden
	&.slider__principal__with_ancla .slider__principal__ancla
		display: block
	&.slider__principal_full .bx-controls-direction
		max-width: 100%
	.bx-controls-direction
		position: absolute
		top: 0
		width: 100%
		height: 100%
		left: 0
		right: 0
		margin: auto
		max-width: 1024px
	.bx-wrapper
		.bx-pager
			bottom: 20px
			z-index: 60
			max-width: 1200px
			left: 0
			right: 0
			margin: auto
			text-align: left
			padding-left: 50px
			box-sizing: border-box
			transition: all 0.25s linear

	.bx-wrapper .bx-pager.bx-default-pager a
		transition: all 0.25s linear
		background: transparent
		width: 10px
		height: 10px
		border: 1px solid $c-1
		&.active, &:hover
			background: $c-3
			border: 1px solid $c-3

.slider__principal
	li
		list-style-type: none
		width: 100%
		background-position: center center
		background-size: cover
		background-repeat: no-repeat
		position: relative

.slider__principal__container
	max-width: 1200px
	width: 100%
	margin: auto
	padding: 0px 50px 0px 50px
	box-sizing: border-box

.slider__principal__container_center
	display: table-cell
	width: 2000px
	height: 553px
	vertical-align: middle
	box-sizing: border-box
	position: relative

.slider__principal__item
	font-size: 0

.slider__principal__left
	display: inline-block
	vertical-align: middle
	width: 100%
	box-sizing: border-box
	text-align: left
	
.slider__principal_right
	position: absolute
	bottom: 0
	right: 0
	width: 40%

.slider__principal__img
	width: 100%
	img
		display: block
		width: 100%
		height: auto

.slider__principal__title
	h1
		position: relative
		margin: 0
		line-height: 1.1
		font-size: 32px	
		font-family: $t-0
		color: $c-1
	strong
		display: block
		font-size: 54px
		font-family: $t-1	
		color: $c-4

.slider__principal__subtitle
	margin-top: 20px
	p
		position: relative
		line-height: 1.1
		margin: 0
		font-size: 22px
		color: #fff

.general__button--home
	margin-top: 20px
	.btn 
		background: $c-2
		border: 1px solid $c-2
		color: $blanco

.slider__principal__title
	opacity: 0
	visibility: hidden
	transform: translateY(-40px)
	transition: all 0.8s ease

.general__button--home, .slider__principal__img
	opacity: 0
	visibility: hidden
	transform: translateY(40px)
	transition: all 0.8s ease
	transition-delay: 0.5s

.slider__principal li.active
	.slider__principal__title, .slider__principal__subtitle, .general__button--home, .slider__principal__img
		opacity: 1
		visibility: visible
		transform: translateY(0px)

@media screen and (max-width: 1200px)
	.slider__principal__block__static
		display: none

	.slider__principal__wrap
		position: relative
		top: 0
		width: 100%

@media screen and (max-width: 1024px)
	.slider__principal
		height: 450px
	.slider__principal__container_center
		height: 450px
		vertical-align: middle
	.slider__principal__item
		padding: 15px 0px
		max-width: 100%
		text-align: center
	.slider__principal__title
		h1, strong
			font-size: 30px
	.slider__principal__subtitle p
		font-size: 15px

@media screen and (max-width: 1000px)
	.slider__principal
		.bx-controls-direction
			display: none
		.bx-wrapper .bx-pager
			padding-left: 50px
	.slider__principal__container
		padding: 0 50px
	.slider__principal__item
		padding: 0

@media screen and (max-width: 767px)
	.slider__principal
		height: 400px
		.bx-pager
			display: none
			
	.slider__principal__container_center
		height: 400px
	.slider__principal__container
		padding: 0
	.slider__principal__title
		h1, strong
			font-size: 25px
	.slider__principal__subtitle p
		font-size: 15px
	.slider__principal__item
		padding: 15px 15px
	.slider__principal__left
		width: 100%
		text-align: center
		padding-right: 0
	.slider__principal_right, .slider__principal__ancla
		display: none

// slider productos

.slider__carrousel__item__slider
	padding-top: 145px	
	padding-bottom: 95px	

.slider__carrousel__item__container
	max-width: 1200px 
	margin: auto	
	padding: 0 20px
	box-sizing: border-box
	text-align: center

.slider__carrousel__item__title
	h3 
		margin: 0	
		font-size: 25px
		color: $c-1
		font-family: $t-1	
		
.slider__carrousel__item__slide
	overflow: hidden
	width: 100%
	.slick-dots
		margin-top: 50px
		li 
			display: inline-block
			text-align: center
			margin: 0 5px 
			&:hover 
				button
					background: $c-1
					border: 1px solid $c-1
			&.slick-active
				button
					background: $c-1
					border: 1px solid $c-1
		button
			display: block
			background: none 
			border: none
			padding: 0	
			margin: 0	
			width: 12px
			height: 12px
			border: 1px solid $c-1
			border-radius: 100%
			box-sizing: border-box
			font-size: 0
			cursor: pointer
			transition: all .2s linear
	
.slider__carrousel__list__items
	font-size: 0	

.slider__carrousel__item
	display: inline-block
	width: 25%
	padding: 10px
	margin: 0 10px
	box-sizing: border-box


@media screen and (max-width: 1200px)
	.slider__carrousel__item__slider
		padding-top: 75px

@media screen and (max-width: 1024px)
	.slider__carrousel__item__slider
		padding-top: 50px
		padding-bottom: 50px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

@media screen and (max-width: 767px)
	.slider__carrousel__item__container
		padding: 0 15px

	.slider__carrousel__item__slider
		padding-top: 40px
		padding-bottom: 40px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 30px

	.slider__carrousel__item__slide .slick-dots
		margin-top: 20px

//item bucle

.g-item-bucle
	display: inline-block
	width: 100%
	position: relative
	overflow: hidden
		
.g-item-buble-img
	width: 100%
	height: 260px
	background-size: cover
	background-position: center center 
	background-repeat: no-repeat
	transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1)

.g-item-bucle-inside
	@media screen and (min-width: 1025px)
		&:hover 
			.g-item-buble-img
				transform: scale(1.1)
					
.g-item-bucle-absolute
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	
.g-item-bucle-table
	display: table
	width: 100%
	height: 100%
	
.g-item-bucle-table-cell
	display: table-cell 
	vertical-align: top
	padding: 30px 25px 25px 25px
	box-sizing: border-box

.g-item-bucle-title
	margin-bottom: 28px
	h3 
		font-family: $t-1
		color: $c-1
		font-size: 25px
		margin-bottom: 7px
		text-transform: uppercase
	p 
		font-family: $t-0
		font-size: 16px
		color: $c-1
		margin: 0
		line-height: 1.2
	span 
		margin-top: 7px
		display: block
		font-family: $t-0
		font-size: 13px
		color:  $c-1
	
.g-items-bucle
	padding-bottom: 75px

.g-items-cnt
	max-width: 1200px
	margin: auto
	overflow: hidden
	padding: 0 20px 
	box-sizing: border-box
				

.g-item-bucle-home
	display: inline-block
	width: 24.25%
	position: relative
	float: left
	margin-right: 1%
	margin-bottom: 0	
	overflow: hidden
	&.g-item1
		width: 58.5%
		margin-bottom: 1%
		.g-item-buble-img
			height: 355px
		.g-item-bucle-table-cell
			padding: 25px 
			vertical-align: middle	
			text-align: center
		.g-item-bucle-title
			h3 
				font-size: 30px
			p
				font-size: 23px
	&.g-item2
		width: 40.5%
		margin-bottom: 1%
		margin-right: 0
		.g-item-buble-img
			height: 355px
		.g-item-bucle-table-cell
			padding: 25px 
			vertical-align: middle
		.g-item-bucle-title
			h3 
				font-size: 30px
				color: $blanco
			p
				font-size: 23px
				color: $blanco
	&.g-item4
		.g-item-bucle-title
			h3 
				color: $blanco
			p
				color: $blanco	
	&.g-item5
		.g-item-bucle-title
			h3 
				color: $blanco
			p
				color: $blanco
	&.g-item6
		margin-right: 0

@media screen and (min-width: 1025px)
	.g-item-bucle-home.g-item1 .g-item-bucle-inside:hover .g-item-bucle-icon
		border: 1px solid #fff
		color: #fff

@media screen and (max-width: 1200px)
	.g-item-bucle-home
		width: 49% !important
		margin: 0 0.5% !important
		margin-bottom: 1% !important

	.g-item-bucle-home
		&.g-item1
			.g-item-buble-img
				height: 255px
			.g-item-bucle-title
				h3 
					font-size: 25px
				p
					font-size: 16px	
		&.g-item2
			.g-item-buble-img
				height: 255px
			.g-item-bucle-title
				h3 
					font-size: 25px
				p
					font-size: 16px	

@media screen and (max-width: 1024px)
	.g-items-bucle
		padding: 0 0 50px 0

@media screen and (max-width: 767px)
	.g-items-bucle
		padding: 0 0 40px 0

	.g-items-cnt
		padding: 0 15px 

	.g-item-bucle-home
		width: 100% !important
		margin: 0 !important
		margin-bottom: 2% !important
		&:last-child
			margin-bottom: 0% !important
		&.g-item1
			margin: 0 !important
			width: 100% !important
			margin-bottom: 2% !important


// slider marcas
.slider__carrousel__clients
	padding-bottom: 75px
	box-sizing: border-box

.slider__carrousel__clients__container
	max-width: 1200px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.slider__carrousel__item__title__wrap
	margin-bottom: 30px	

.slider__carrousel__clients__title
	text-align: center
	margin-bottom: 50px
	h3 
		margin: 0	
		font-size: 25px
		color: $c-1
		font-family: $t-1	
		
.slider__carrousel__container__slider
	display: block

.slider__carrousel__clients__container__slider
	overflow: hidden	

.slider__carrousel__clients__item
	display: inline-block
	text-align: center
	margin: 0 15px
	img
		width: 100%
		height: auto
		display: block
	a
		display: block

.slider__carrousel__container__slider
	position: relative
	.slick-slider
		padding: 0 50px
		box-sizing: border-box
		text-align: center
	.slick-list 
		overflow: hidden
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		margin-top: -20px
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		background: transparent
		border: 1px solid $c-1
		border-radius: 100%
		padding: 0
		overflow: hidden
		font-size: 0
		transition: all .25s linear
		&:before
			font-family: icomoon
			font-size: 25px
			color: $c-1
			line-height: 40px 
			text-align: center
			transition: all .25s linear
		&:hover 
			background: $c-1 
			border: 1px solid $c-1
			&:before 
				color: $blanco
	.slick-prev
		left: 0
		&:before
			content: "\e607"
	.slick-next 
		right: 0
		&:before
			content: "\e606"
	.slick-dots
		margin-top: 20px
		li 
			display: inline-block
			text-align: center
			margin: 0 5px 
			&:hover 
				button
					background: $c-1
					border: 1px solid $c-1
			&.slick-active
				button
					background: $c-8
					border: 1px solid $c-1
		button
			display: block
			background: none 
			border: none
			padding: 0	
			margin: 0	
			width: 12px
			height: 12px
			border: 1px solid $c-1
			border-radius: 100%
			box-sizing: border-box
			font-size: 0
			cursor: pointer
			transition: all .2s linear
	
// Styles Carrousel no arrows
.slider__carrousel__clients.slider__carrousel__clients--no--arrows
	.slick-prev, .slick-next
		display: none !important
	.slider__carrousel__container__slider .slick-slider
		padding: 0
		
.slider__carrousel__clients.slider__carrousel__clients--arrows--pager--modified
	.slick-prev, .slick-next
		top: 40%
		
		
@media screen and (max-width: 1024px)
	.slider__carrousel__clients
		padding-bottom: 50px

@media screen and (max-width: 767px)
	.slider__carrousel__clients
		padding-bottom: 40px

	.slider__carrousel__container__slider .slick-prev, .slider__carrousel__container__slider .slick-next
		display: none !important
		
	.slider__carrousel__container__slider .slick-dots
		display: none !important
	
	.slider__carrousel__container__slider .slick-slider
		padding: 0



//links
.home__links
	padding-bottom: 88px

.home__link__container
	max-width: 1200px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	overflow: hidden

.home__link__item
	display: inline-block
	width: 40.5%
	position: relative
	float: left
	margin-right: 1%
	margin-bottom: 0	
	overflow: hidden
	&.g-item1
		width: 57.5%
		.home__link__item__img
			height: 390px
		.home__link__item__content
			h3 
				font-size: 35px
				text-transform: uppercase
			p
				font-size: 25px
	&.g-item2
		margin-bottom: 1%
		margin-right: 0
		.home__link__item__table_cell
			text-align: right 
		.home__link__item__content
			h3 
				text-transform: uppercase
	&.g-item3
		margin-right: 0
		.home__link__item__table_cell
			text-align: left 
		.home__link__item__content
			h3 
				color: $c-1
			p 
				color: $c-1

.home__link__item__img
	width: 100%
	height: 190px
.home__link__item__img--fondo__1
	background-size: cover
	background-position: center center 
	background-repeat: no-repeat
	transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1)
.home__link__item__img--fondo__2
	background: $c-2
.home__link__item__img--fondo__3
	background: linear-gradient(to top, rgba(179,179,179,0.6) 0%, rgba(255,255,255,0.98) 98%, rgba(255,255,255,0.99) 100%)
.home__link__img
	position: absolute
	img
		display: block
		width: 100%
		height: auto
.home__link__img--2
	width: 32.3%
	left: 8%
	bottom: 0
.home__link__img--3
	width: 47.9%
	right: 2%
	bottom: 0

.home__link__item__inside
	@media screen and (min-width: 1025px)
		&:hover 
			.home__link__item__img
				transform: scale(1.1)

.home__link__item__absolute
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.home__link__item__table
	display: table
	width: 100%
	height: 100%

.home__link__item__table_cell
	display: table-cell
	vertical-align: middle
	padding: 30px 
	box-sizing: border-box
	text-align: center

.home__link__item__content
	h3 
		font-size: 20px
		font-family: $t-1
		color: $blanco
		margin: 0
		line-height: 1.2
	p
		font-size: 15px
		color: $blanco
		font-family: $t-0
		margin: 0

.home__link__btn
	margin-top: 30px
	
@media screen and (max-width: 1024px)
	.home__links
		padding-bottom: 50px

	.home__link__img--2
		width: 38%
		left: 2%

	.home__link__img--3
		width: 40%

@media screen and (max-width: 767px)
	.home__links
		padding-bottom: 40px

	.home__link__container
		padding: 0 15px

	.home__link__item
		width: 100%
		margin-bottom: 0%
		&:last-child
			margin-bottom: 0
	
	.home__link__item.g-item1
		width: 100%
		margin-right: 0

	.home__link__item.g-item1 .home__link__item__img
		height: 260px

	.home__link__item__img
		height: 260px
	
	.home__link__img--2
		width: 152px
		left: 5%

	.home__link__img--3
		width: 225px
		right: 5%

	// .home__link__item.g-item2 .home__link__item__table_cell
	// 	text-align: center

	.home__link__item.g-item1 .home__link__item__content h3
		font-size: 20px

@media screen and (max-width: 480px)
	.home__link__img--2
		width: 35%
		left: 2%

	.home__link__img--3
		width: 39%
		right: 2%		

// videos
.home__videos
	padding-bottom: 45px

.home__videos__container
	max-width: 1200px 
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	display: flex
	align-items: center
	flex-wrap: wrap 

.home__video__left
	width: 33%
	padding-right: 25px
	box-sizing: border-box

.home__video__left h3 
	font-size: 25px
	font-family: $t-1 
	color: $c-1

.home__video__left p 
	font-size: 15px
	font-family: $t-0
	color: $c-0
	margin: 0

.home__video__right
	width: 67%

.home__video__container__items
	display: flex 
	justify-content: space-between
	flex-wrap: wrap 

.home__video__item
	width: 49%
	margin-right: 2%
	&:last-child
		margin-right: 0

.home__video__content
	position: relative
	vertical-align: middle
	iframe
		width: 100%
		display: block

.home__video__inside__content
	position: relative
	padding-bottom: 59.15%
	padding-top: 25px
	height: 0
	.video-iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.home__video__coverpage
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 2
	background-size: cover
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		background: $negro
		position: absolute
		top: 0
		left: 0
		opacity: 0.5

.home__video__icon
	display: block
	width: 58px
	height: 41px
	background: url("../img/video-img.svg") 0 0 no-repeat
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	z-index: 2

.w-play
	cursor: pointer
	transition: all 0.5s linear
	&.active
		display: none
	&.anima
		animation: opaciti 1s linear infinite alternate

.w-portada.active
	opacity: 0
	visibility: hidden

@media screen and (max-width: 1200px)
	.home__video__left
		width: 100%
		padding-right: 0
		margin-bottom: 25px

	.home__video__left__title
		text-align: center

	.home__video__right
		width: 100%

@media screen and (max-width: 767px)
	.home__videos__container
		padding: 0 15px 
		
	.home__video__item
		width: 100%
		margin-right: 0
		margin-bottom: 2%
		&:last-child
			margin-bottom: 0

@-webkit-keyframes opaciti
	0%
		opacity: 0
	50%
		opacity: 0.5
	100%
		opacity: 1
	

