.listado__wrapp
	max-width: 1340px
	margin: auto
	display: flex
	flex-direction: row
.listado__content_grnal
	padding-top: 42px
.listado__menu
	width: 22%
.listado__nav__content
	display: flex
	margin-top: 35px		
	border-bottom: 1px solid #f0f0f0

.listado__nav__tittle,.listado__nav__sub
	margin: 0
.listado__nav__tittle
	font-family: $t-1
	font-size: 16px
	color: $c-5
.listado__nav__sub
	color: #4a4a4a
	font-family: $t-0
	margin-left: 15px
	position: relative
	padding-bottom: 13px
	&:before
		content: ""
		left: 0	
		width: 100%
		height: 2px	
		transition: all 450ms ease
		background-color: #4a4a4a
		position: absolute
		bottom: 0
		opacity: 0
	&:hover
		&:before
			background-color: #4a4a4a
			opacity: 1

.listado__cuerpo
	width: 75%
	margin-top: 42px
	padding-top: 30px
.listado__cuerpo
	margin: auto
.listado__cuerpo__banner
	background-size: cover
	display: flex
	width: 100%
	height: 260px
	position: relative
	justify-content: center
	background-repeat: no-repeat
	align-items: center
	&:before
		content: ""
		left: 0
		right: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.46)
		position: absolute
	.listado__cuerpo__banner--title
		position: relative
		z-index: 5
		color: white


.listado__orden
	display: flex
.listado__cuerpo__items
	display: flex
	padding-top: 25px	
	flex-direction: row
	flex-wrap: wrap
.listado__cuerpo__producto
	display: flex
	width: 31% 
	min-height: 435px
	justify-content: center
	flex-direction: column
	
	
// menu
.filtros__seleccion
	padding-bottom: 15px
.listado__filtro
	padding-top: 54px
	h2
		font-size: 15px
		font-family: $t-1
		color: #212121
.filtros__seleccion
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.item__filtrado
		width: 40%
		font-size: 13px
		margin: 0
		margin-top: 2%
		padding-top: 2px
		padding-bottom: 2px
		margin-left: 12px
		text-align: center
		position: relative
		i
			font-size: 9px
			padding-left: 7px

.item__filtrado
	background-color: #f0f0f0
	border-radius: 3px
.listado__filtro
	ul
		h2
			font-size: 15px
			font-family: $t-1
			margin: auto
	li 
		font-size: 15px
		


		
.listado__categoria__name--color
	border-top: 1px solid #f0f0f0
	padding-top: 10px
	padding-bottom: 10px
	h2
		position: relative
		color: #212121
		&:before
			content: "\e90c"
			font-family: icomoon
			width: 10px
			height: 10px
			position: absolute
			right: 0
			transition: all 450ms ease
			color: #212121
			transform: rotate(360deg)
		&:hover
			&:before
				transform: rotate(0)
	.listado__categoria__item--maximo
		color: black
		text-decoration: underline
		a
			color: black
.listado__categoria_item
	color: #8f8f8f
	padding-left: 21px
	font-family: $t-0
	a
		color: #8f8f8f
		&:hover
			color: $c-3

.listado__categoria_item 
	.form-check-label
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 15px
			height: 15px
			border-radius: 2px
			border: 1px solid $c-3
			margin: auto
			bottom: 0
		&:after
			content: "\e908"
			position: absolute
			font-family: icomoon
			top: 0
			height: 12px
			left: 2px
			font-size: 8px
			bottom: 0
			text-align: center
			margin: auto	
			opacity: 0
			color: $c-3
	input[type="checkbox"]
		display: none
	input[type="checkbox"]:checked + .form-check-label
		&:after
			opacity: 1


.listado__ver
	padding-top: 80px
	padding-bottom: 90px
	.listado__opcion__productos
		display: flex
		justify-content: center
		li
			margin: 0
			margin-right: 12px
	.listado__text
		display: block
		text-align: center
		padding-top: 15px
		h3
			font-size: 12px
			color: #4a4a4a
			font-family: $t-1
.listado__opcion__productos
	a
		margin: 0
		
	li
		background-color: #8f8f8f
		width: 10px
		height: 10px
		border-radius: 50%
		&:hover
			background-color: #0889f2
.listado__categoria__name--tittle
	font-size: 15px
	font-family: $t-1
	margin: auto
	padding-top: 15px
	color: #212121
		
@media screen and (max-width: 980px)
	.listado__cuerpo__producto
		width: 50%
	.listado__filtro li
		font-size: 13px