.login
	margin-top: 79px
	position: relative
	margin-bottom: 108px
	padding-left: 20px
	padding-right: 20px
	.btn-enlace1
		width: 100%
	.login--botton
		width: 100%
	&:before
		content: ""
		width: 2px
		height: 100%
		position: absolute
		left: 0
		right: 0
		top: 0
		text-align: center
		margin: auto
		background-color: #efefef
.login-formulario__buttons.login--facebook
	.btn-celeste
		background-color: #465997
.login-formulario__buttons.login--google
	.btn-celeste
		background-color: #ca5141
.login-formulario.login__inputs
	font-size: 14px
	color: $c-0

.login__wrap
	max-width: 1090px
	margin: auto
.login__cuenta
	display: flex
	flex-direction: row
.login-formulario
	width: 60%
	margin-top: 24px
	h3
		margin-top: 16px
		margin-bottom: 62px
		text-align: center

.login--registro
	width: 40%
.login__title
	h2
		font-size: 17px
		font-family: $t-1
		margin-bottom: 39px
.login-formulario__buttons
	margin-bottom: 16px

.login--registro
	p
		font-size: 14px
		color: $c-0
.login__acuerdo
	font-size: 14px
	color: $c-0
	li
		position: relative
		padding-left: 14px
		padding-bottom: 5px
		&:before
			content: "\e907"
			font-family: icomoon
			font-size: 9px
			margin: auto
			position: absolute
			left: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
.login--crear
	margin-top: 44px

.login-formulario.login__inputs
	font-size: 14px
	color: #212121
	font-family: $t-1
	.form-check-label
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 14px
			height: 14px
			border-radius: 2px
			border: 1px solid #212121
			margin: auto
			bottom: 0

		&:after
			content: "\e908"
			font-family: icomoon
			position: absolute
			top: 0
			left: 2px
			position: absolute
			color: #212121
			margin: auto
			right: 0
			bottom: 0
			height: 8px
			font-size: 7px
			opacity: 0

	input[type="checkbox"]
		display: none
	input[type="checkbox"]:checked + .form-check-label
		&:before
			border: 1px solid #212121
		&:after
			content: "\e908"
			font-family: icomoon
			position: absolute
			top: 0
			left: 3px
			position: absolute
			color: #212121
			margin: auto
			right: 0
			bottom: 0
			height: 8px
			font-size: 7px
			opacity: 1


@media screen and (max-width: 980px)
	.login
		&:before
			display: none
	.login__cuenta
		flex-direction: column
	.login-formulario
		width: 80%
		margin: auto
		padding-bottom: 20px
	.login--registro
		margin-top: 30px
	.login__title
		h2
			text-align: center

@media screen and (max-width: 480px)
	.login-formulario
		width: 100%

