

//NOSOTROS-HEADER
.nosotros_header
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	.nosotros_header--img
		width: 54%
		display: inline-block
		vertical-align: middle
		position: relative
		padding: 0px 0 72px 140px
		box-sizing: border-box
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 85%
			height: 85%
			z-index: 1
			background: linear-gradient(90deg, #0075ac 0%, #0096c1 99.82%)
		.nosotros_header--imagen
			width: 100%
			background-position: top center
			background-size: cover
			background-repeat: no-repeat
			height: 450px
			position: relative
			z-index: 2	
	.nosotros_header--text
		max-width: 450px
		width: 100%
		margin: auto
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		.titulos
			padding: 0px 0px 45px 0px
		.titulo--izquierda
			h3
				text-transform: initial
		p
			font-family: $t-0
			font-size: 15px
			color: $c-0 

//NOSOTROS-MIDLE
.nosotros_midle
	max-width: 1060px
	width: 100%
	margin: auto
	padding: 100px 0px
	.nosotros_midle--title
		text-align: center
		padding-bottom: 50px
		h3
			font-family: $t-1
			font-size: 28px
			color: $c-1
	.nosotros_midle--content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		.nosotros_midle--text
			width: 33.333%
			padding: 35px 30px
			h6
				font-family: $t-0
				font-size: 15px
				color: $c-2
				font-weight: 600
				text-transform: uppercase
				padding-bottom: 24px
			p
				font-family: $t-0
				font-size: 15px
				color: $c-0 

//NOSOTROS-FOOTER
.nosotros_footer
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	background-color: $c-8
	overflow: hidden
	.nosotros_footer--img
		width: 50%
		display: inline-block
		vertical-align: middle
		position: relative
		box-sizing: border-box
		.nosotros_footer--imagen
			width: 100%
			background-position: top center
			background-size: cover
			background-repeat: no-repeat
			height: 450px
			position: relative
			z-index: 2
	.nosotros_footer--text
		max-width: 530px
		width: 100%
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		margin-right: 0
		margin-left: auto
		padding: 0px 45px 0px 30px
		.nosotros_footer--title
			padding-bottom: 30px
			h3
				font-family: $t-1
				font-size: 28px
				color: $c-2
				text-transform: uppercase
		p
			font-family: $t-0
			font-size: 15px
			color: $c-0


@media screen and (min-width: 1025px)
	.nosotros_footer--imagen
		opacity: 0
		visibility: hidden
		transition: all .4s ease-in-out 
		position: relative
		transform: translateX(120px)

	.nosotros_footer.active 
		.nosotros_footer--imagen
			opacity: 1
			visibility: visible
			transform: translateX(0)

@media screen and (max-width: 1100px)
	//NOSOTROS-HEADER
	.nosotros_header
		.nosotros_header--img
			padding: 0 0 50px 50px
			.nosotros_header--imagen
				height: 400px
	//NOSOTROS-FOOTER
	.nosotros_footer
		.nosotros_footer--text
			max-width: 460px
			margin: auto
			padding: 0px
@media screen and (max-width: 995px)
	//NOSOTROS-HEADER
	.nosotros_header
		.nosotros_header--img
			width: 100%
			padding: 0px
			&:before
				display: none
		.nosotros_header--text
			max-width: 730px
			width: 90%
			padding-top: 50px
	//NOSOTROS-FOOTER
	.nosotros_footer
		padding-bottom: 50px
		.nosotros_footer--img
			width: 100%
		.nosotros_footer--text
			max-width: 730px
			width: 90%
			padding-top: 50px
@media screen and (max-width: 768px)
	//NOSOTROS-HEADER
	.nosotros_header
		.nosotros_header--img
			.nosotros_header--imagen
				height: 300px
		.nosotros_header--text
			.titulos
				padding: 0px 0px 25px 0px
			p
				font-size: 13px
	//NOSOTROS-MIDLE
	.nosotros_midle
		padding: 50px 0px
		.nosotros_midle--title
			padding-bottom: 30px
			h3
				font-size: 20px
		.nosotros_midle--content
			.nosotros_midle--text
				width: 50%
				padding: 25px 30px
				h6
					font-size: 14px
				p
					font-size: 13px
	//NOSOTROS-FOOTER
	.nosotros_footer
		.nosotros_footer--img
			.nosotros_footer--imagen
				height: 300px
		.nosotros_footer--text
			.nosotros_footer--title
				padding-bottom: 20px
				h3
					font-size: 20px
			p
				font-size: 13px

@media screen and(max-width: 480px)
	//NOSOTROS-MIDLE
	.nosotros_midle
		.nosotros_midle--content
			.nosotros_midle--text
				width: 100%
				padding: 10px 20px