.terminos
	.terminos_content
		max-width: 785px
		width: 100%
		margin: auto
		.terminos-content--text
			.content--text
				padding-bottom: 60px
				.termino--titulo
					h4
						font-family: $t-2
						font-size: 15px
						color: $c-1
						text-transform: uppercase
						padding: 15px 0px
						border-bottom: 1px solid $c-6
						font-weight: 500
				.termino--item
					p
						font-family: $t-0
						font-size: 15px
						color: $c-1
						padding: 20px 0px
					h4, h3
						font-family: $t-1
						font-size: 14px
						color: $c-1
						margin-bottom: 10px
					li 
						font-family: $t-0
						font-size: 14px
						color: $c-1
						padding-left: 15px
						position: relative
						margin-bottom: 5px
						&:before
							content: ''
							position: absolute
							width: 8px
							height: 8px
							border-radius: 100%
							background: $c-0
							top: 8px
							left: 0
					ul
						margin-bottom: 20px

@media screen and (max-width: 768px)
	.terminos
		.terminos_content
			width: 90%
			.terminos-content--text
				.content--text
					h5
						font-size: 14px
					p
						font-size: 13px