.tiendas
	.tiendas_content
		#tiendas_tab2
			display: none
		.tiendas_tabs--button
			text-align: center
			padding-bottom: 20px
			border-bottom: 1px solid $c-6
			button
				background-color: $blanco
				border: 0
				font-family: $t-0
				font-size: 15px
				color: $c-1
				text-transform: uppercase
				padding: 0 3%
				&:hover
					color: $c-3
	.tiendas--tabs
		.tiendas_tab1
			max-width: 1010px
			width: 100%
			margin: auto
			padding: 50px 0px
			.tiendas_tab1--content
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: flex-start
				align-items: center
				padding: 30px 0px
				.tiendas_tab1--img
					width: 44%
					display: inline-block
					vertical-align: middle
					position: relative
					box-sizing: border-box
					margin: auto
					.tiendas_tab1--imagen
						width: 100%
						background-position: center center
						background-size: cover
						background-repeat: no-repeat
						height: 300px
						position: relative
				.tiendas_tab1--info
					border: 1px solid $c-6
					margin: auto
					width: 52%
					padding: 61.5px 20px
					.tiendas_tab1--text
						max-width: 380px
						width: 100%
						margin: auto
						.text--title
							display: flex
							padding-bottom: 20px
							span
								margin-left: 0
								margin-right: 0
								font-size: 30px
								color: $c-3
							h5
								font-family: $t-1
								font-size: 21px
								color: $c-1
								text-transform: uppercase
								margin-right: auto
								margin-left: 0
								margin-top: auto
								margin-bottom: auto
								padding-left: 10px
						p
							font-family: $t-0
							font-size: 15px
							color: $c-1
							margin-bottom: 0
						.text--button
							padding-top: 30px

.map__general__wrap
	text-align: center
	
.map__general__box
	.map
		width: 100%
		height: 100%
		
	
.map__general--close--map
	position: absolute
	right: 20px
	top: 20px
		
.map__general__wrap
	position: relative
	
.map__general__box
	position: fixed
	top: -200%
	left: 0
	width: 100%
	height: 100%
	z-index: 2000
	transition: all .4s ease-in-out
	&.anima-map
		top:  0

		

@media screen and (max-width: 800px)
	.tiendas
		.tiendas--tabs
			.tiendas_tab1	
				.tiendas_tab1--content
					.tiendas_tab1--img
						width: 80%
					.tiendas_tab1--info
						width: 80%
@media screen and (max-width: 640px)
	.tiendas
		.tiendas_content
			#tiendas_tab2
			.tiendas_tabs--button
				button
					font-size: 14px
		.tiendas--tabs
			.tiendas_tab1
				.tiendas_tab1--content
					.tiendas_tab1--info
						.tiendas_tab1--text
							.text--title
								h5
									font-size: 16px
							p
								font-size: 13px

@media screen and (max-width: 480px)
	.tiendas
		.tiendas--tabs
			.tiendas_tab1	
				.tiendas_tab1--content
					.tiendas_tab1--img
						width: 90%
						.tiendas_tab1--imagen
							height: 250px
					.tiendas_tab1--info
						width: 90%
						padding: 30px 20px