
<div class="equipo--fancy">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <section class="equipo__fancy">
            <div class="equipo">
              <div class="equipo__wrap">
                <div class="equipo__item">
                  <div class="equipo__title">
                    <div class="titulos titulo--izquierda">
                      <h2>Se parte de nuestro equipo</h2>
                      <h3>¡escríbenos ahora!</h3>
                    </div>
                  </div>
                  <div class="equipo__form">
                    <form>
                      <div class="equipo__form equipo__formularios">
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="validate[required]" type="text" placeholder="Nombres y apellidos*"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="soloNumber validate[required]" type="text" placeholder="teléfono"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="validate[required]" type="text" placeholder="Email*"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input__file general__input__file--js">
                            <div class="general__input__inside">
                              <input id="file-input" type="file"/>
                              <label class="general__input__file__label" for="file-input"><span class="general__input__file__text">Adjuntar cv:</span><span class="general__input__file__ico icon-adjuntar"></span></label>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input--textarea">
                          <div class="general__input general__input--textarea">
                            <div class="general__input__inside">
                              <textarea class="validate[required]" id="mensaje" placeholder="Mensaje"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input equipo__input--boton">
                          <input class="btn btn-enlace12 btn-red" type="submit" value="ENVIAR"/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer" role="contentinfo">
  <div class="footer_content">
    <div class="footer__wrap">
      <div class="footer__imagen"><img class="img-fluid" src="assets/img/footer-logo.png" width="116" height="39" alt="Best Security"/></div>
      <ul class="footer_menu footer_items">
        <li class="footer__item"> <a href="nosotros.html">Conócenos</a></li>
        <li class="footer__item"> <a href="tiendas.html">Tiendas</a></li>
        <li class="footer__item"> <a href="terminos-condiciones.html">Términos y condiciones</a></li>
        <li class="footer__item"> <a href="cuenta.html">Mi cuenta</a></li>
        <li class="footer__item"> <a href="" data-toggle="modal" data-target="#exampleModal">Trabaja con nosotros</a></li>
        <li class="footer__item"> <a href="contacto.html">Contacto</a></li>
      </ul>
      <ul class="footer__iconos">
        <li class="footer__item-icono"><a class="icon-facebook" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-youtube" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-linkedin" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-blogger" href=""></a></li>
      </ul>
    </div>
    <div class="footer__wrap footer_creditos">
      <ul class="footer__menu-creditos">
        <li class="footer__menu--items">© Copyright 2017 - Todos los derechos reservados</li>
        <li class="footer__menu--items">Diseño Web por <a href="">StaffDigital</a></li>
      </ul>
    </div>
  </div>
</footer>