// FONTS
// -----

@font-face 
	font-family: 'Lato-Light'
	src: url('../fonts/Lato-Light.eot')
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),		url('../fonts/Lato-Light.woff2') format('woff2'),		url('../fonts/Lato-Light.woff') format('woff'),		url('../fonts/Lato-Light.ttf') format('truetype'),		url('../fonts/Lato-Light.svg#Lato-Light') format('svg')
	font-weight: 300
	font-style: normal


@font-face 
	font-family: 'Arial'
	src: url('../fonts/ArialMT.eot')
	src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),		url('../fonts/ArialMT.woff2') format('woff2'),		url('../fonts/ArialMT.woff') format('woff'),		url('../fonts/ArialMT.ttf') format('truetype'),		url('../fonts/ArialMT.svg#ArialMT') format('svg')
	font-weight: normal
	font-style: normal


@font-face 
	font-family: 'Montserrat-Light'
	src: url('../fonts/Montserrat-Light.eot')
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),		url('../fonts/Montserrat-Light.woff2') format('woff2'),		url('../fonts/Montserrat-Light.woff') format('woff'),		url('../fonts/Montserrat-Light.ttf') format('truetype'),		url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg')
	font-weight: 300
	font-style: normal


@font-face 
	font-family: 'MyriadPro-Regular'
	src: url('../fonts/MyriadPro-Regular.eot')
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),		url('../fonts/MyriadPro-Regular.woff2') format('woff2'),		url('../fonts/MyriadPro-Regular.woff') format('woff'),		url('../fonts/MyriadPro-Regular.ttf') format('truetype'),		url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Montserrat-Light'
	src: url('../fonts/Montserrat-Light.eot')
	src: url('../fonts/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat-Light.woff') format("woff"), url('../fonts/Montserrat-Light.ttf') format("truetype"), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format("svg"), url('../fonts/Montserrat-Light.eot?#iefix') format("embedded-opentype")
	font-weight: normal
	font-style: normal
	font-family: 'Montserrat-SemiBold'
	src: url('../fonts/Montserrat-SemiBold.eot')
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),		url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),		url('../fonts/Montserrat-SemiBold.woff') format('woff'),		url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),		url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg')
	font-weight: 600
	font-style: normal


@font-face 
	font-family: 'ProximaNova-Bold'
	src: url('../fonts/ProximaNova-Bold.eot')
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),		url('../fonts/ProximaNova-Bold.woff') format('woff'),		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg')
	font-weight: bold
	font-style: normal


@font-face
	font-family: 'Montserrat-Regular'
	src: url('../fonts/Montserrat-Regular.eot')
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),		url('../fonts/Montserrat-Regular.woff2') format('woff2'),		url('../fonts/Montserrat-Regular.woff') format('woff'),		url('../fonts/Montserrat-Regular.ttf') format('truetype'),		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Montserrat-Bold'
	src: url('../fonts/Montserrat-Bold.eot')
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),		url('../fonts/Montserrat-Bold.woff2') format('woff2'),		url('../fonts/Montserrat-Bold.woff') format('woff'),		url('../fonts/Montserrat-Bold.ttf') format('truetype'),		url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg')
	font-weight: bold
	font-style: normal


@font-face
	font-family: 'ProximaNova-Semibold'
	src: url('../fonts/ProximaNova-Semibold.eot')
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),		url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),		url('../fonts/ProximaNova-Semibold.woff') format('woff'),		url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),		url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg')
	font-weight: 600
	font-style: normal


@font-face
	font-family: 'ProximaNova-Regular'
	src: url('../fonts/ProximaNova-Regular.eot')
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),		url('../fonts/ProximaNova-Regular.woff') format('woff'),		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg')
	font-weight: normal
	font-style: normal