extends ./_common/base.pug
//- btn
block content


	a.btn.btn-enlace1.btn-plomo.rounded-0( href='') CREAR CUENTA

	a.btn.btn-enlace1.btn-celeste.rounded-0( href='') CREAR CUENTA
	a.btn.btn-enlace1.btn-enlace12.rounded-0( href='') Míralo Aquí