extends ./_common/base.pug
//- btn
block content
	//- input no label
	.general__input
		.general__input__inside
			input(type='text', class='validate[required]')
	
	//- input text
	.general__input
		label.general__input__title Titulo Input
		.general__input__inside
			input(type='text', class='validate[required]')
	
	//- input text w/placeholder
	.general__input
		label.general__input__title Titulo Input
		.general__input__inside
			input(type='text', placeholder='Hola, soy un input', class='validate[required]')
	
	//- input file
	.general__input__file.general__input__file--js
		label.general__input__title Titulo Select
		.general__input__inside
			input#file-input(type='file')
			label.general__input__file__label(for='file-input')
				span.general__input__file__text Adjuntar
				span.general__input__file__ico.icon-adjuntar

	//- select
	.general__input.general__input--select.general__input__icon--right
		label.general__input__title Titulo Input
		.general__input__inside
			span.general__input__ico__right.icon-abajo
			select(name='')
				option(selected='selected') Item1
				option Item2
				option Item3
				option Item1
				option Item2
				option Item3

	//- textarea
	.general__input.general__input--textarea
		label.general__input__title Titulo Input
		.general__input__inside
			textarea#mensaje(class='validate[required]', placeholder='Mensaje')

	div.input-group
		span.select--mas.input-group-addon +
		input.input--select.form-control.soloNumber(type="text", value="1")
		span.select--menos.input-group-addon -

append scripts 
	script.
		$(function(){
			//input file
			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});
		});		
