extends ./_common/base.pug
//- btn
block content
	.item__general__width
		//- no copiar la clase de arriba es solo un ejemplo para el ancho 
		.item__general
			.item__general__image__product
				img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
			.item__general__code
				span SKU 12345678
			.item__general__title
				h3 Lorem ipsum dolor sit
			.item__general__button
				a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
append scripts 
	script.
		function linkToParent(i){
			$(i).each(function(index, el) {
				$(el).css('cursor', 'pointer').click(function(e) {
					$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
				});
			});
		}
		$(function(){
			linkToParent('.item__general');
		});