// BUTTONS

.btn
	transition: all 450ms ease	

.btn-enlace1
	padding: 13px 56px 13px 56px
	text-transform: uppercase
	font-size: 12px
	border-radius: 24px
	font-family: $t-1

	color: white
	transform: perspective(1px) translateZ(0)
	i
		padding-left: 17px
		font-size: 13px
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-3
			color: white


.btn-celeste
	background-color: $c-3
	color: $blanco !important
	cursor: pointer
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-4
			color: white
.btn-plomo
	background-color: $c-1
	color: $blanco
	
.btn-enlace12
	font-size: 12px
	font-family: $t-1
	background-color: white
	border: 1px solid $c-0
	text-transform: uppercase
	border-radius: 30px
	color: $c-0
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	position: relative
	transition: all 650ms ease
	padding: 13px 50px 13px 30px
	&:before
		content: '\e90b'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		transition: all 550ms ease
		line-height: 1.5
		right: 3em
		padding: 0px 1px
		transform: translateZ(0)
		transition-property: transform
		transition-timing-function: ease-out
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-3
			color: white
			border: 1px solid $c-3
			&:before
				transform: translateX(4px)
				color: $blanco
	