.general__input
	text-align: left
	input, select, textarea
		width: 100%
		height: 40px
		line-height: 40px
		box-sizing: border-box
		border: none
		border-radius: 0
		border: 1px solid #CACACA
		padding-left: 20px
		padding-right: 20px
		color: $c-0
		font-family: $t-0
		font-size: 14px
		
// styles textarea
.general__input--textarea
	textarea
		height: 100px
		line-height: 1.1
		padding-top: 10px
	
// styles select
.general__input--select
	position: relative
	select
		padding-right: 35px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none
	
// styles label title		
.general__input__title
	display: block
	cursor: auto
	font-size: 14px
	margin-bottom: 8px
	color: $c-0
	font-family: $t-0

// Styles icons
.general__input__inside
	position: relative

.general__input__ico__left
	display: block
	position: absolute
	top: 0
	left: 10px
	font-size: 10px
	line-height: 40px
	pointer-events: none
	z-index: 2
	color: $c-0
	
.general__input__ico__right
	display: block
	position: absolute
	top: 0
	right: 10px
	font-size: 10px
	line-height: 40px
	pointer-events: none
	z-index: 2
	color: $c-0
	
.general__input__icon--left
	input, select, textarea 
		padding-left: 35px
	
.general__input__icon--right
	input, select, textarea 
		padding-right: 35px
	
.general__input__icon--all
	input, select, textarea 
		padding-right: 35px
		padding-left: 35px
	
// input file
.general__input__file
	position: relative
	input[type="file"]
		display: none
	
.general__input__file__label
	width: 100%
	position: relative
	height: 40px
	line-height: 40px
	box-sizing: border-box
	border: none
	border-radius: 0
	border: 1px solid $c-0
	padding-left: 20px
	padding-right: 20px
	color: $c-0
	font-family: $t-0
	font-size: 14px

.general__input__file__text
	color: $c-0
	font-family: $t-0
	font-size: 14px
		
.general__input__file__ico
	display: block
	position: absolute
	top: 0
	right: 10px
	font-size: 20px
	line-height: 40px
	pointer-events: none
	z-index: 2
	color: $c-0

// efects 
.general__input__wrap.general__input__wrap--efect1
	.general__input.active
		input, select, textarea
			border: 1px solid red

.input-group
	.input--select
		border-left: 0
		border-right: 0
		height: 40px
		font-size: 16px
		font-family: $t-0
		color: $c-5
		border-color: $c-6
		text-align: center	
		&:focus
			border-color: $c-6
	.select--mas
		background-color: $blanco
		border-top-left-radius: 50%
		border-bottom-left-radius: 50%
		height: 40px
		border-color: $c-6
		cursor: pointer
	.select--menos
		background-color: $blanco
		border-top-right-radius: 50%
		border-bottom-right-radius: 50%
		height: 40px
		border-color: $c-6
		cursor: pointer

.carrito_cantidad--icon
	margin-left: 60px !important
	margin: auto
	font-size: 20px
	color: $c-0
	&:hover
		color: $c-5
			
			
