.item__general__width
	max-width: 400px

.item__general
	width: 100%
	position: relative
	padding: 10px 15px 40px 15px
	text-align: center
	border-radius: 15px 
	box-sizing: border-box
	transition: all .15s linear
	@media screen and (min-width: 1025px)
		&:hover 
			box-shadow: 2px 4px 24px 1px rgba(0,0,0,0.18)
			.btn-azul
				background-color: $c-3
				color: white
				border: 1px solid $c-3
				&:before
					transform: translateX(4px)
					color: $blanco

.item__general__image__product
	display: block
	margin-bottom: 15px
	width: 100%
	padding: 8%
	box-sizing: border-box
	img
		width: 100%
		height: auto
		display: block

.item__general__code
	margin-bottom: 15px
	span 
		display: block
		font-size: 12px
		font-family: $t-0
		color: $c-0

.item__general__title
	margin-bottom: 30px
	h3
		margin: 0
		font-size: 18px
		font-family: $t-2
		color: $c-0
