.titulos
	padding: 35px 0 70px 0
	text-align: center
	font-family: $t-1
	text-transform: uppercase
	h2
		font-size: 28px
		margin: auto
		color: $c-5
		
	h3
		font-size: 25px
		color: #666666
		padding-top: 14px
	@media screen and (max-width: 960px)
		padding: 35px 0 40px 0
		h2
			font-size: 20px
		h3
			font-size: 18px
	@media screen and (max-width: 768px)
		padding: 30px 0 30px 0

	

.titulo--izquierda
	text-align: left
	h2
		font-size: 28px
		color: $c-2
		margin: auto
	@media screen and (max-width: 960px)
		h2
			font-size: 20px
	
.titulo--centro
	text-align: center
	h2
		color: #005aab
	h3
		text-transform: lowercase

	